clearfix()
  &:after, &:before
    content " "
    display table
  &:after
    clear both


placeholder()
  ::placeholder
    {block}
  .placeholder
    {block}

// Считаем EM из пикселей
px2em(px, context = 16)
  px / context + 0em


setFont(fontSize, lineHeight, fontWidth = null, letterSpacing = null, fontStyle = null, baseFont = 16)
  font-size px2em(fontSize,baseFont)
  line-height px2em(lineHeight,fontSize)
  if fontWidth
    font-weight fontWidth
  if letterSpacing
    letter-spacing (letterSpacing / 1000) em
  if fontStyle
    font-style fontStyle

// setFont(fontSize, baseFont, lineHeight, fontWidth = null, letterSpacing = null, fontStyle = null)
//   font-size px2em(fontSize,baseFont)
//   line-height px2em(lineHeight,fontSize)
//   if fontWidth
//     font-weight fontWidth
//   if letterSpacing
//     letter-spacing (letterSpacing / 1000) em
//   if fontStyle
//     font-style fontStyle


