<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="../storage/issuance--queue.html"
          title="Эта ссылка показывается только если пришли из выдачи оператора"
        >&larr; Назад в интерфейс оператора</a></li>
      </ul>
      <span class="navbar-brand">Выдача</span>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <% include ../layout/lang-select %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button type="button" class="btn btn-default" style="margin:10px 1em 0;"
            data-toggle="modal" data-target="#call-manager-modal"
          >
            Позвать менеджера
          </button>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div class="modal fade" id="call-manager-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Менеджер вызван</h4>
      </div>
      <div class="modal-body">
        <p>
          Пожалуйста, дождитесь менеджера.
          Он ответит на интересующие вас
          вопросы, поможет собрать
          и оплатить ваш заказ.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Назад</button>
      </div>
    </div>
  </div>
</div>




