<% include includes/client-ui/intro %>
<% include includes/client-ui/parcel/header %>

<div class="container">




  <div class="alert alert-danger">
    <p>Пожалуйста, запоните недостающую информацию в декларации.</p>
    <br>
    <a href="#declaratino-form" class="btn btn-primary">Заполнить</a>
  </div>

  <script type="text/javascript">

  </script>

  <% include includes/client-ui/parcel/editable-info %>

</div>


<% include includes/client-ui/parcel/proxy-person-modal %>
<% include includes/client-ui/parcel/issue-modal %>
<% include includes/client-ui/parcel/return-modal %>
<% include includes/client-ui/parcel/move-modal %>
<% include includes/client-ui/parcel/extra-photos-modal %>


<% include includes/layout/outro %>
