<% include includes/client-ui/intro %>
<% include includes/client-ui/parcel/header %>

<div class="container">




  <div class="panel panel-warning">
    <div class="panel-heading">
      После инвентаризации выявились серьезные повреждения упаковки посылки
    </div>
    <div class="panel-body">

      <p>Посылка была вскрыта для проверки целостности содержимого.
        Пошлина будет компенсирована.</p>

      <hr>

      <div class="row">
        <div class="col-xs-6 col-sm-2">
          <a href="../images/samples/u366.jpg" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="../images/samples/u366.jpg">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="../images/samples/u366.jpg" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="../images/samples/u366.jpg">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="../images/samples/u366.jpg" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="../images/samples/u366.jpg">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="../images/samples/unboxing/2.jpg" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="../images/samples/unboxing/2.jpg">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="../images/samples/unboxing/3.jpg" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="../images/samples/unboxing/3.jpg">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="../images/samples/unboxing/4.jpg" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="../images/samples/unboxing/4.jpg">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="../images/samples/unboxing/5.jpg" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="../images/samples/unboxing/5.jpg">
          </a>
        </div>
      </div>

      <p>
        Угол упаковки помят. Предположительно следствие удара.
        Большая вероятность того, что содержимое посылки может быть повреждено.
      </p>

      <h4>Заключение</h4>

      <p>Выявлено наличие повреждений у наушников и керамической фигурки.</p>

      <hr>

      <p>
        Наши менеджеры свяжутся с вами, чтобы решить проблему с поврежденным содержимым посылки.
        Для дополнительной информации звоните 8-800-200-59-30.
      </p>

    </div>
  </div>

  <script type="text/javascript">

  </script>

  <% include includes/client-ui/parcel/editable-info %>


</div>


<% include includes/client-ui/parcel/proxy-person-modal %>
<% include includes/client-ui/parcel/issue-modal %>
<% include includes/client-ui/parcel/return-modal %>
<% include includes/client-ui/parcel/move-modal %>
<% include includes/client-ui/parcel/extra-photos-modal %>


<% include includes/layout/outro %>
