<% include includes/client-ui/intro %>


<div class="container">

  <h1 class="text-success">Оплата прошла успешно. Можете забрать свои посылки.</h1>
  <br>

  <h3 style="margin-bottom:0;">Иматра</h3>

  <div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th rowspan="2">Трекинг</th>
        <th rowspan="2">Продавец</th>
        <th rowspan="2">Доверенность</th>
        <th colspan="2">Задолженность</th>
      </tr>
      <tr>
        <th>за услуги</th>
        <th>за пошлину</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1Z6R646E0319744872</td>
        <td>Google</td>
        <td>Alekseev Vladislav</td>
        <td>0 €</td>
        <td>0 €</td>
      </tr>
    </tbody>
  </table>
  </div>
  <br>

  <h3 style="margin-bottom:0;">Лаппеенранта</h3>

  <div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th rowspan="2">Трекинг</th>
        <th rowspan="2">Продавец</th>
        <th rowspan="2">Доверенность</th>
        <th colspan="2">Задолженность</th>
      </tr>
      <tr>
        <th>за услуги</th>
        <th>за пошлину</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1Z6R646E0319744871</td>
        <td>Apple</td>
        <td>&mdash;</td>
        <td>0 €</td>
        <td>0 €</td>
      </tr>
      <tr>
        <td>1Z6R646E0319744873</td>
        <td>Microsoft</td>
        <td>&mdash;</td>
        <td>0 €</td>
        <td>0 €</td>
      </tr>
    </tbody>
  </table>
  </div>
  <br>


  <a href="dashboard.html" class="btn btn-primary">Перейти на дашборд</a>


  <br>
  <br>


</div>

<script type="text/javascript">

</script>

<% include includes/layout/outro %>
