<div class="parcels-list parcels-list--ready js-parcels-wathc-scroll">

    <div class="parcels-list__head__wrap js-parcels-wathc-scroll__sticky">
        <div class="parcels-list__head">
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <h2><?php echo $this->__('Посылки, находящиеся в обработке') ?></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <?php
    $bottom1 = "in-process-parcels-bottom1.phtml";
    $bottom2 = "in-process-parcels-bottom2.phtml";
    require "dashboard-parcel.phtml";
    ?>
</div>