<span class="parcel-info__label"></span>
<span class="parcel-info__value">
    <span class="parcel-info__danger-note"><?php echo $this->__('Заполните перечень товаров в посылке, чтобы мы могли доставить ее в пункт выдачи') ?></span>
</span>