<div class="container">
    <br>

    <div class="row">
        <div class="col-sm-4">
            <a class="thumbnail thumbnail-link"
               href="<?php echo $this->getUrl("pochta/parcelreception/index") ?>"
                ><?php echo $this->__("Принять посылку") ?></a>
        </div>

        <div class="col-sm-4">
            <a class="thumbnail thumbnail-link"
               href="<?php echo $this->getUrl("pochta/storage/index") ?>"
                ><?php echo $this->__("Склад") ?></a>
        </div>

        <div class="col-sm-4">
            <a class="thumbnail thumbnail-link"
               href="<?php echo $this->getUrl("pochta/reports/index") ?>"
                ><?php echo $this->__("Отчёты") ?></a>
        </div>

        <div class="col-sm-4">
            <a class="thumbnail thumbnail-link"
               href="<?php echo $this->getUrl("pochta/custom/index") ?>"
                ><?php echo $this->__("Таможня") ?></a>
        </div>

        <div class="col-sm-4">
            <a class="thumbnail thumbnail-link"
               href="<?php echo $this->getUrl("pochta/custom/list") ?>"
                ><?php echo $this->__("Декларации") ?></a>
        </div>

        <div class="col-sm-4">
            <a class="thumbnail thumbnail-link"
               href="<?php echo $this->getUrl("pochta/takeout/index") ?>"
                ><?php echo $this->__("Выдача") ?></a>
        </div>

    </div>
</div>