<div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <input type="hidden" name="success_url" value="<?php echo $this->getUrl('') ?>" />
        <div class="form-horizontal">
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                <div class="col-sm-4">
                    <input type="text" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" id="email" class="form-control" title="<?php echo $this->__('Email Address') ?>" />
                </div>
            </div>

            <div class="form-group">
                <label for="pass" class="col-sm-2 control-label required"><em>*</em><?php echo $this->__('Password') ?></label>
                <div class="col-sm-4">
                    <input type="password" name="login[password]" class="form-control" id="pass" title="<?php echo $this->__('Password') ?>" />
                </div>
            </div>

            <div class="form-group">
                <p class="col-sm-2 control-label required"><?php echo $this->__('* Required Fields') ?></p>
            </div>

        </div>

        <div class="bottom-buffer">
            <div class="form-horizontal">
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-block btn-primary" title="<?php echo $this->__('Login') ?>"
                            name="send" id="send2"><span><span><?php echo $this->__('Login') ?></span></span></button>
                </div>
            </div>
        </div>

    </form>

</div>
