<br>

<div class="row">
  <div class="col-sm-9">
    <div class="form-horizontal">

      <div class="form-group">
        <label for="tmp-id-1" class="col-sm-3 control-label">Название</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="tmp-id-1" value="1Z6R646E0319744877">
          <span class="help-block">Можете переименовать для удобства отслеживания</span>
        </div>
      </div>

      <div class="form-group">
        <label for="tmp-id-2" class="col-sm-3 control-label">Доверенность</label>
        <div class="col-sm-9" id="proxy-persons-list">
          <button type="button" class="btn btn-link"
            data-toggle="modal" data-target="#proxy-person-modal-1"
          >Добавить</button>
        </div>
      </div>

      <div class="form-group hidden" id="move-fields-1">
        <label for="tmp-id-3" class="col-sm-3 control-label">Перемещение</label>
        <div class="col-sm-9">
          <p class="form-control-static">На склад Иматра</p>
          <button type="button" class="btn btn-link"
            onclick="$('#move-fields-1').addClass('hidden')"
          >Отменить</button>
        </div>
      </div>

      <div id="return-widgets-placeholder"></div>
      <div id="extra-photos-widgets-placeholder"></div>

      <div class="form-group hidden js-issue-fields-1">
        <label for="tmp-id-3" class="col-sm-3 control-label">Жалоба</label>
        <div class="col-sm-9">
          <p class="form-control-static">
            <span class="js-issue-text"></span>
            <span class="label label-info">В обработке</span>
          </p>
        </div>
      </div>

    </div>
  </div>
  <div class="col-sm-3">
    <div class="well">
      <h4>Услуги</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="javascript:void(0)" id="start-move-btn-1">Перемещение</a></li>
        <li><a href="javascript:void(0)" id="start-return-btn-1">Возврат в магазин</a></li>
        <li><a href="javascript:void(0)" id="start-issue-btn-1">Направить  жалобу</a></li>
        <li><a href="javascript:void(0)" id="start-extra-photos-btn-1">Запрос на дополнительные фотографии</a></li>
      </ul>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-6 col-sm-2">
    <a href="../images/samples/u366.jpg" data-lightbox="parcel-photos" class="thumbnail">
      <img src="../images/samples/u366.jpg">
    </a>
  </div>
  <div class="col-xs-6 col-sm-2">
    <a href="../images/samples/doc-photos/u434.jpg" data-lightbox="parcel-photos" class="thumbnail">
      <img src="../images/samples/doc-photos/u434.jpg">
    </a>
  </div>
  <div class="col-xs-6 col-sm-2">
    <a href="../images/samples/doc-photos/u448.jpg" data-lightbox="parcel-photos" class="thumbnail">
      <img src="../images/samples/doc-photos/u448.jpg">
    </a>
  </div>
</div>

<h3 id="declaratino-form">Декларация</h3>
<br>

<% include ../../declaration-form %>


<br>
<div class="panel panel-default">
  <div class="panel-heading collapsed" data-toggle="collapse" data-target="#parcel-collapse-id-1">
    <h4 class="panel-title">
      Дополнительная информация о посылке
    </h4>
  </div>
  <div id="parcel-collapse-id-1" class="panel-collapse collapse">
    <% include extra-info %>
  </div>
</div>

<br>
