<!-- Modal -->
<div class="modal fade" id="move-modal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавление перемещения</h4>
      </div>
      <div class="modal-body">
        <p>
          Стоимость услуги <strong>12 €</strong>
        </p>
        <div class="form-horizontal">
          <div class="form-group">
            <label for="input-move-stoprage-1" class="col-sm-3 control-label">Склад</label>
            <div class="col-sm-6">
              <select class="form-control" id="input-move-stoprage-1"
                onchange="$('#add-move-btn-1').prop('disabled', $(this).val() === '')"
              >
                <option value=""></option>
                <option value="Лаппеенранта">Лаппеенранта</option>
                <option value="Иматра">Иматра</option>
                <option value="Третий">Третий</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add-move-btn-1" disabled>Добавить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $('#start-move-btn-1').click(function() {
    if ($('#move-fields-1').hasClass('hidden')) {
      $('#move-modal-1').modal('show');
    }
  });

  $('#add-move-btn-1').click(function(){
    $('#move-fields-1').removeClass('hidden');
    $('#move-modal-1').modal('hide');
    $('#input-move-stoprage-1').val('');
  });

</script>
