<?php
$issuance = Mage::getSingleton('core/session')->getIssuance();
$movementId = $issuance['movementId'];

$movement = Mage::getModel('catalog/product')->load($movementId);
?>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand"><?php echo $this->__('Получатель: ') ?><?php echo Mage::helper('pochta')->getCarrierName($movement); ?> (<?php echo $movement->getName() ?>)</span>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:history.go(-1)">Назад</a></li>
            </ul>
        </div>

    </div>
</nav>


<div class="container">

    <?php if ($issuance['declaration_required']) : ?>

    <div class="alert alert-info">
        <?php echo $this->__('После появления FITREL-декларации распечатайте её.') ?>
    </div>
    <br/>
    <table id="declarations" class="table table-condensed sorted-table">
        <thead>
        <tr>
            <th><?php echo $this->__("Дата") ?></th>
            <th><?php echo $this->__("Название") ?></th>
            <th><?php echo $this->__("SKU") ?></th>
            <th><?php echo $this->__("MovementReferenceID") ?></th>
            <th><?php echo $this->__("ControlReferenceID") ?></th>
            <th><?php echo $this->__("MessageStorageID") ?></th>
            <th><?php echo $this->__("Скачать") ?></th>
        </tr>
        </thead>

        <tbody>
        </tbody>

    </table>
    <br/>

    <?php endif; ?>

    <form method="post" action="<?php echo $this->getUrl('pochta/issuance/completePost') ?>">
        <input name="movementId" type="hidden" value="<?php echo $movementId ?>">

        <a class="btn btn-default" href="#">
            <?php echo $this->__("Скачать инвойс") ?>
        </a>

        <?php if ($issuance['declaration_required']) : ?>
        <a class="btn btn-default" href="<?php echo $this->getUrl('pochta/issuance/movement') ?>">
            <?php echo $this->__("Перевыпустить декларацию") ?>
        </a>
        <?php endif; ?>

        <button type="submit" class="btn btn-primary">
            <?php echo $this->__("Наконец-то всё готово!") ?>
        </button>

        <a class="btn btn-default" href="<?php echo $this->getUrl('pochta/issuance/cancel/id/' . $movementId) ?>">
            <?php echo $this->__("Отменить выдачу") ?>
        </a>
    </form>

    <br/>
    <br/>

</div>

<script type="application/javascript">
    <?php if ($issuance['declaration_required']) : ?>
    setTimeout(checkDeclaration, 5000);
    <?php endif; ?>

    function checkDeclaration() {
        $.ajax({
            url: '/pochta/ajax/checkDeclaration',
            data: {
                "movementId" : "<?php echo $issuance['movementId'] ?>"
            },
            type: 'post',
            success:function(data){

                $('#declarations tbody').remove();

                if (data != undefined && data != null) {
                    for (var ii = 0; ii < data.length; ii++) {
                        $('#declarations')
                            .append($('<tr>')
                                .append($('<td>').text(data[ii]['date']))
                                .append($('<td>').append($('<a>').attr('href', '/pochta/custom/view/id/' + data[ii]['id']).text(data[ii]['name'])))
                                .append($('<td>').text(data[ii]['sku']))
                                .append($('<td>').text(data[ii]['mrn']))
                                .append($('<td>').text(data[ii]['control']))
                                .append($('<td>').text(data[ii]['storage']))
                                .append($('<td>').append(data[ii]['link'] != null ? $('<a>').attr('href', data[ii]['link']).text(data[ii]['name']) : null ))
                        );
                    }
                }

                setTimeout(checkDeclaration, 5000);
            }
        });

    }
</script>