    <div class="container">

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="tab-main">
            <br>

            <form role="form" class="bottom-buffer">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="search" class="form-control" placeholder="<?php echo $this->__("Поиск") ?>">
                    </div>
                </div>
            </form>

            <a href="/pochta/issuance/buildList" class="btn btn-primary"><?php echo $this->__("Обновить") ?></a>

            <br/>
            <br/>

            <table class="table table-condensed sorted-table" id="movements">
                <thead>
                <tr>
                    <th class="sorted-asc"><?php echo $this->__("Перемещение") ?></th>
                    <th><?php echo $this->__("Дата подбора") ?></th>
                    <th><?php echo $this->__("Фамилия и имя получателя") ?></th>
                    <th><?php echo $this->__("Количество посылок") ?></th>
                    <th><?php echo $this->__("Пункт вывоза") ?></th>
                    <th><?php echo $this->__("Дата вывоза") ?></th>
                    <th><?php echo $this->__("Оплачено?") ?></th>
                    <th><?php echo $this->__("Декларация?") ?></th>
                </tr>
                </thead>
                <tbody>

                <?php $movements = Mage::registry('issuanceList'); ?>
                <?php foreach ($movements as $movement): ?>
                    <tr id="<?php echo $movement->getId() ?>">
                        <td>
                            <a href="<?php echo $this->getUrl('pochta/issuance/buildView/id/' . $movement->getId()) ?>"><?php echo $movement->getId() ?></a>
                        </td>
                        <td>
                            <a href="<?php echo $this->getUrl('pochta/issuance/buildView/id/' . $movement->getId()) ?>"><?php echo date('Y-m-d', strtotime($movement->getMvtSrcPlannedDate())) ?></a>
                        </td>
                        <td><?php echo Mage::helper('pochta')->getCarrierName($movement) ?></td>
                        <td><?php echo $movement->getParcelsCount() ?></td>
                        <td><?php echo $movement->getMvtDstWhs() ?></td>
                        <td><?php echo date('Y-m-d', strtotime($movement->getMvtDstPlannedDate())) ?></td>
                        <td><?php echo $movement->getFullyPaid() ? $this->__("Yes") : $this->__("No") ?></td>
                        <td><?php echo $movement->getDeclarationRequired() ? $this->__("Yes") : $this->__("No") ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>

        </div>

    </div>

</div>