<% include _inc/layout/intro %>

<% include _inc/headers/main %>



<div class="success-title">
  <div class="container">
    <img src="<%- staticUrl('images/icons/success.svg') %>" width="30" height="30">
    <h2><%- trans('Оплата прошла успешно! Мы&nbsp;готовим ваши посылки к&nbsp;выдаче.') %></h2>
  </div>
</div>

<div class="success-text">
  <div class="container">
    <p>
      <%- trans('Ваше имя будет указано на&nbsp;табло.') %>
    </p>
  </div>
</div>


<div class="success-btn">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <a href="#TODO" class="btn btn-block btn-blue"><%- trans('Следующий!') %></a>
      </div>
    </div>
  </div>
</div>




<% include _inc/layout/outro %>
