@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProLig.woff") format('woff'), url("../fonts/GothaProLig.otf") format('opentype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProLigIta.woff") format('woff'), url("../fonts/GothaProLigIta.otf") format('opentype');
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProReg.woff") format('woff'), url("../fonts/GothaProReg.otf") format('opentype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProIta.woff") format('woff'), url("../fonts/GothaProIta.otf") format('opentype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProMed.woff") format('woff'), url("../fonts/GothaProMed.otf") format('opentype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProMedIta.woff") format('woff'), url("../fonts/GothaProMedIta.otf") format('opentype');
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProBol.woff") format('woff'), url("../fonts/GothaProBol.otf") format('opentype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProBolIta.woff") format('woff'), url("../fonts/GothaProBolIta.otf") format('opentype');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProBla.woff") format('woff'), url("../fonts/GothaProBla.otf") format('opentype');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProBlaIta.woff") format('woff'), url("../fonts/GothaProBlaIta.otf") format('opentype');
  font-style: italic;
  font-weight: 800;
}
/* normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: 0 0;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
ul,
li {
  list-style: none;
  display: block;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: gp, sans-serif;
  background: #f1f1ef;
  min-width: 1268px;
  color: #464547;
}
img {
  max-width: 100%;
}
.container {
  width: 1188px;
  margin: 0 auto;
}
.b12-row {
  margin: 0 -30px;
}
.b12-row:after,
.b12-row:before {
  content: " ";
  display: table;
}
.b12-row:after {
  clear: both;
}
.b12-col-1,
.b12-col-2,
.b12-col-3,
.b12-col-4,
.b12-col-5,
.b12-col-6,
.b12-col-7,
.b12-col-8,
.b12-col-9,
.b12-col-10,
.b12-col-11,
.b12-col-12 {
  padding: 0 30px;
  display: block;
  float: left;
  min-height: 1px;
}
.b12-col-1 {
  width: 8.3333333333333%;
}
.b12-col-2 {
  width: 16.6666666666667%;
}
.b12-col-3 {
  width: 25%;
}
.b12-col-4 {
  width: 33.3333333333333%;
}
.b12-col-5 {
  width: 41.6666666666667%;
}
.b12-col-6 {
  width: 50%;
}
.b12-col-7 {
  width: 58.3333333333333%;
}
.b12-col-8 {
  width: 66.6666666666667%;
}
.b12-col-9 {
  width: 75%;
}
.b12-col-10 {
  width: 83.3333333333333%;
}
.b12-col-11 {
  width: 91.6666666666667%;
}
.b12-col-12 {
  width: 100%;
}
.row,
.row-sub-2,
.row-sub-3,
.row-sub-4,
.row-sub-5,
.row-sub-6,
.row-sub-7,
.row-sub-8 {
  margin: 0 -6px;
}
.row:after,
.row-sub-2:after,
.row-sub-3:after,
.row-sub-4:after,
.row-sub-5:after,
.row-sub-6:after,
.row-sub-7:after,
.row-sub-8:after,
.row:before,
.row-sub-2:before,
.row-sub-3:before,
.row-sub-4:before,
.row-sub-5:before,
.row-sub-6:before,
.row-sub-7:before,
.row-sub-8:before {
  content: " ";
  display: table;
}
.row:after,
.row-sub-2:after,
.row-sub-3:after,
.row-sub-4:after,
.row-sub-5:after,
.row-sub-6:after,
.row-sub-7:after,
.row-sub-8:after {
  clear: both;
}
.col-1 {
  width: 11.1111111111111%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  padding: 0 6px;
  display: block;
  float: left;
  min-height: 1px;
}
.col-2 {
  width: 22.2222222222222%;
}
.col-3 {
  width: 33.3333333333333%;
}
.col-4 {
  width: 44.4444444444444%;
}
.col-5 {
  width: 55.5555555555556%;
}
.col-6 {
  width: 66.6666666666667%;
}
.col-7 {
  width: 77.7777777777778%;
}
.col-8 {
  width: 88.8888888888889%;
}
.col-9 {
  width: 100%;
}
.row-sub-2 .col-1 {
  width: 50%;
}
.row-sub-2 .col-2 {
  width: 100%;
}
.row-sub-3 .col-1 {
  width: 33.3333333333333%;
}
.row-sub-3 .col-2 {
  width: 66.6666666666667%;
}
.row-sub-3 .col-3 {
  width: 100%;
}
.row-sub-4 .col-1 {
  width: 25%;
}
.row-sub-4 .col-2 {
  width: 50%;
}
.row-sub-4 .col-3 {
  width: 75%;
}
.row-sub-4 .col-4 {
  width: 100%;
}
.row-sub-5 .col-1 {
  width: 20%;
}
.row-sub-5 .col-2 {
  width: 40%;
}
.row-sub-5 .col-3 {
  width: 60%;
}
.row-sub-5 .col-4 {
  width: 80%;
}
.row-sub-5 .col-5 {
  width: 100%;
}
.row-sub-6 .col-1 {
  width: 16.6666666666667%;
}
.row-sub-6 .col-2 {
  width: 33.3333333333333%;
}
.row-sub-6 .col-3 {
  width: 50%;
}
.row-sub-6 .col-4 {
  width: 66.6666666666667%;
}
.row-sub-6 .col-5 {
  width: 83.3333333333333%;
}
.row-sub-6 .col-6 {
  width: 100%;
}
.row-sub-7 .col-1 {
  width: 14.285714285714299%;
}
.row-sub-7 .col-2 {
  width: 28.571428571428598%;
}
.row-sub-7 .col-3 {
  width: 42.8571428571429%;
}
.row-sub-7 .col-4 {
  width: 57.142857142857096%;
}
.row-sub-7 .col-5 {
  width: 71.4285714285714%;
}
.row-sub-7 .col-6 {
  width: 85.7142857142857%;
}
.row-sub-7 .col-7 {
  width: 100%;
}
.row-sub-8 .col-1 {
  width: 12.5%;
}
.row-sub-8 .col-2 {
  width: 25%;
}
.row-sub-8 .col-3 {
  width: 37.5%;
}
.row-sub-8 .col-4 {
  width: 50%;
}
.row-sub-8 .col-5 {
  width: 62.5%;
}
.row-sub-8 .col-6 {
  width: 75%;
}
.row-sub-8 .col-7 {
  width: 87.5%;
}
.row-sub-8 .col-8 {
  width: 100%;
}
.take-left-gap {
  margin-left: -12px;
}
::-webkit-input-placeholder {
  color: #a9a9a9;
  font-weight: 200;
}
::-moz-placeholder {
  color: #a9a9a9;
  font-weight: 200;
}
:-ms-input-placeholder {
  color: #a9a9a9;
  font-weight: 200;
}
::placeholder {
  color: #a9a9a9;
  font-weight: 200;
}
.placeholder {
  color: #a9a9a9;
  font-weight: 200;
}
.btn {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  height: 45px;
  text-align: center;
  padding: 12px 16px 11px;
  background: transparent;
  border: none;
}
.btn:hover {
  opacity: 0.8;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-blue {
  background: #00f;
}
.btn-orange {
  background: #ff592e;
}
.btn-black {
  background: #464547;
}
.btn-danger {
  background: #fb0000;
}
.btn-link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: left;
  padding: 14px 0;
}
.btn-link,
.btn-link.btn-disabled {
  color: #464547;
}
.btn-link span {
  border-bottom: solid 1px;
}
.btn-trans,
.btn-trans-dark,
.btn-trans-white {
  border: 1px solid;
  padding: 11px 15px 10px;
}
.btn-trans {
  border-color: #a2a2a3;
}
.btn-trans,
.btn-trans.btn-disabled {
  color: #969495;
}
.btn-trans-dark {
  border-color: #464547;
}
.btn-trans-dark,
.btn-trans-dark.btn-disabled {
  color: #464547;
}
.btn-trans-white {
  border-color: #fff;
}
.btn-trans-white,
.btn-trans-white.btn-disabled {
  color: #fff;
}
.btn-trans-white:hover {
  opacity: 0.9;
}
.btn-disabled,
.btn:disabled {
  color: rgba(255,255,255,0.3);
  opacity: 0.3;
  cursor: default;
}
.btn-disabled:hover,
.btn:disabled:hover {
  opacity: 0.3;
}
.popover__target .btn-disabled,
.popover__target .btn:disabled {
  cursor: pointer;
}
.large-form .form-group {
  margin-bottom: 25px;
}
.large-form [type="text"],
.large-form [type="password"],
.large-form__btn {
  font-size: 25px;
  line-height: 30px;
  display: block;
  padding: 39px 55px 36px;
  width: 100%;
}
.large-form [type="text"],
.large-form [type="password"] {
  border: solid 1px #e5e4e2;
  font-weight: 600;
}
.large-form [type="text"]:focus,
.large-form [type="password"]:focus {
  border-color: #7fa1fc;
  outline: none;
}
.large-form__btn {
  background: #ff592e;
  border: none;
  font-weight: 700;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.large-form__btn:hover {
  opacity: 0.8;
}
.large-form .form-error {
  color: #f00;
  font-size: 14px;
  line-height: 15px;
  margin-top: 10px;
}
.text-input {
  margin: 0;
  padding: 0;
  margin-bottom: -1px;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-bottom: solid 1px #969495;
  width: 100%;
}
.has-error .landing-registration__email,
.has-error .text-input {
  border-color: #ff1200;
}
.landing-registration__email:focus,
.text-input:focus {
  outline: none;
  border-color: #00f;
}
.oauth p {
  font-size: 14px;
  line-height: 15px;
}
.oauth ul {
  margin-right: -20px;
}
.oauth ul:after,
.oauth ul:before {
  content: " ";
  display: table;
}
.oauth ul:after {
  clear: both;
}
.oauth ul li {
  display: block;
  float: left;
  width: 120px;
  margin-right: 20px;
}
.oauth__btn {
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  border: none;
  display: block;
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 12px 0px 8px;
  background-repeat: no-repeat;
  background-position: 16px 50%;
  background-color: #464547;
}
.oauth__btn:hover {
  opacity: 0.8;
}
.oauth__vk .oauth__btn {
  background-image: url("../images/icons/vk.svg");
  -webkit-background-size: 10px 10px;
          background-size: 10px 10px;
}
.oauth__odnoklassniki .oauth__btn {
  background-image: url("../images/icons/odnoklassniki.svg");
  -webkit-background-size: 10px 15px;
          background-size: 10px 15px;
  padding-left: 15px;
}
.oauth__facebook .oauth__btn {
  background-image: url("../images/icons/facebook.svg");
  -webkit-background-size: 6px 15px;
          background-size: 6px 15px;
}
.editable-header h2,
.editable-header input {
  font-size: 30px;
  line-height: 34px;
  font-weight: 600;
}
.editable-header h2 {
  display: inline-block;
  cursor: pointer;
}
.editable-header h2:after {
  content: '';
  display: inline-block;
  width: 17px;
  height: 18px;
  background: url("../images/icons/edit.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  margin-left: 0.6em;
}
.editable-header input {
  display: none;
  width: 500px;
}
.editable-header.edit-mode h2 {
  display: none;
}
.editable-header.edit-mode input {
  display: block;
}
.editable-header--disabled h2 {
  cursor: text;
}
.editable-header--disabled h2:after {
  display: none;
}
.radio,
.checkbox {
  display: inline-block;
  position: relative;
}
.radio input,
.checkbox input {
  position: absolute;
  opacity: 0;
}
.radio__ui,
.checkbox__ui {
  width: 32px;
  height: 32px;
  background: #fff;
}
.radio__ui {
  border-radius: 100px;
  display: block;
  padding: 5px;
}
input:checked + .radio__ui:before {
  content: '';
  display: block;
  background: #ff592e;
  width: 22px;
  height: 22px;
  border-radius: 100px;
}
.radio--bigger .radio__ui {
  background: #f1f1ef;
  width: 48px;
  height: 48px;
  border: 8px solid #fff;
}
.radio--bigger input:checked + .radio__ui {
  border-color: #f1f1ef;
}
input:checked + .checkbox__ui {
  background: #ff592e url("../images/icons/check.svg") no-repeat;
  -webkit-background-size: 21px 18px;
          background-size: 21px 18px;
  background-position: center;
}
.is-disabled {
  cursor: default !important;
}
.is-disabled .radio__ui,
.is-disabled .checkbox__ui,
input:disabled + .radio__ui,
input:disabled + .checkbox__ui,
.is-disabled + .radio__ui,
.is-disabled + .checkbox__ui {
  opacity: 0.6;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;
}
.input-group .text-input,
.input-group__addon {
  display: table-cell;
}
.form-global-errors li,
.form-field-error {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.013em;
  color: #ff1200;
  background: url("../images/icons/error-small.svg") no-repeat;
  padding-left: 20px;
}
.form-field-error {
  margin-bottom: 15px;
}
.form-global-errors {
  margin-bottom: 20px;
}
h2 + .form-global-errors,
h3 + .form-global-errors {
  margin-top: -20px;
}
.settings-block .form-global-errors {
  margin: 0;
}
.auth-modal .form-global-errors {
  margin-top: -40px;
}
.default-form .form-group {
  overflow: hidden;
  margin-bottom: 40px;
}
.default-form .text-input {
  font-size: 24px;
  line-height: 28px;
  padding: 2px 0;
  margin-bottom: 12px;
}
.declaration {
  padding: 40px 0 50px;
}
.declaration-form {
  display: none;
}
.declaration--edit-mode .declaration-form {
  display: block;
}
.declaration--edit-mode .declaration-info {
  display: none;
}
.declaration-info__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.012em;
  display: block;
  margin-bottom: 40px;
  margin-top: 10px;
}
.declaration-info__val {
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  display: block;
  margin-bottom: 30px;
}
.declaration-form__label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.023em;
  color: #969495;
  text-transform: uppercase;
  display: block;
  margin-top: -14px;
  margin-bottom: 26px;
}
.declaration-form__label .icon {
  vertical-align: top;
  margin: -2px 0 0 4px;
}
.declaration-field {
  margin-bottom: 36px;
}
.declaration-field,
.declaration-field input {
  font-size: 20px;
  line-height: 22px;
  font-weight: 200;
}
.declaration-field__input {
  margin-right: 36px;
  position: relative;
}
.declaration-field__input input {
  display: block;
  padding: 4px 0 4px;
}
.has-mismathc-total-err .declaration-field__input--price input {
  border-color: #f00;
}
.declaration-row-ctrls:after,
.declaration-row-ctrls:before {
  content: " ";
  display: table;
}
.declaration-row-ctrls:after {
  clear: both;
}
.declaration-row-ctrls__total {
  display: inline-block;
  padding: 4px 0;
  font-size: 20px;
  line-height: 22px;
  font-weight: 200;
  color: #969495;
}
.declaration-row-ctrls__is-complete,
.declaration-row-ctrls__remove {
  float: right;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  vertical-align: top;
  margin-left: 15px;
}
.declaration-row-ctrls__is-complete {
  background-image: url("../images/icons/filled-correctly.svg");
  visibility: hidden;
}
.declaration-row.is-complete .declaration-row-ctrls__is-complete {
  visibility: visible;
}
.declaration-row-ctrls__remove {
  background-image: url("../images/icons/delete.svg");
  cursor: pointer;
}
.declaration-row.is-empty:last-child .declaration-row-ctrls__remove {
  visibility: hidden;
}
.declaration__total-mismatch {
  font-size: 12px;
  line-height: 14px;
  font-weight: 200;
  color: #fb0000;
  margin-bottom: 15px;
}
.declaration__total-def-currency {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.012em;
  display: block;
}
html,
body {
  height: 100%;
}
.page-wrap {
  position: relative;
  padding-bottom: 554px;
  min-height: 100%;
}
.footer__wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.footer {
  background: #ff592e;
  color: #fff;
  position: relative;
  padding: 45px 0 60px;
}
.footer a {
  border-bottom: solid 1px;
  display: inline-block;
}
.footer a:hover {
  opacity: 0.8;
}
.footer:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25px;
  background: #00f;
}
.footer__menu {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.009em;
  margin-bottom: 85px;
}
.footer__social li {
  display: inline-block;
  margin-right: 5px;
}
.footer__social a {
  border: none;
}
.footer__contacts h4,
.footer__storages h4 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer__contacts__email,
.footer__contacts__phone {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.009em;
}
.footer__contacts__email {
  margin-bottom: 38px;
}
.footer__contacts__phone {
  margin-bottom: 20px;
}
.footer__contacts__phone small {
  font-size: 14px;
  line-height: 17px;
  font-weight: 200;
  text-transform: uppercase;
  display: block;
}
.footer__contacts__phone a {
  border: none;
}
.footer__storages a {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.009em;
}
.footer__storages li {
  margin-bottom: 20px;
}
.footer__storages__name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 200;
  text-transform: uppercase;
  display: block;
}
.footer__bottom {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  letter-spacing: 0.013em;
  margin-top: 120px;
}
.footer__bottom a {
  border: none;
}
.header {
  background: #ff592e;
  color: #fff;
  position: relative;
}
.header:after,
.header:before {
  content: " ";
  display: table;
}
.header:after {
  clear: both;
}
.header__left {
  float: left;
}
.header__left:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25px;
  background: #00f;
}
.header__right {
  float: right;
}
.header__logo,
.header__slogan {
  display: inline-block;
  vertical-align: top;
  height: 82px;
}
.header__logo {
  padding-top: 25px;
  margin-right: 34px;
  position: relative;
}
.header__logo img {
  width: 154px;
  height: auto;
}
.header__slogan {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  padding-top: 24px;
}
.header__btn {
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  display: block;
  border: solid 2px #fff;
  padding: 8px 16px;
  margin-top: 22px;
  background: none;
}
.header-menu,
.header-lang {
  display: inline-block;
  margin-left: 24px;
}
.header-menu li,
.header-lang li {
  display: inline-block;
}
.header-menu li a,
.header-lang li a,
.header-menu li span,
.header-lang li span {
  font-size: 20px;
  line-height: 82px;
  font-weight: 600;
  display: block;
}
.header-menu a {
  padding: 0 28px;
}
.header-menu a:hover {
  opacity: 0.9;
}
.header-lang a,
.header-lang span {
  padding: 0 13px;
}
.header-lang span {
  background: #fff;
  color: #ff592e;
}
.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
}
.icon-help {
  background: url("../images/icons/circle-help.svg");
}
.icon-ok {
  background: url("../images/icons/circle-ok.svg");
}
.js-template {
  display: none;
}
.height-limit {
  overflow: hidden;
  position: relative;
  max-height: 350px;
  -webkit-transition: all 1s;
          transition: all 1s;
}
.height-limit__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("../images/helpers/fade-grad.png") repeat-x 100% 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), color-stop(85%, #fff), to(#fff));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 85%, #fff 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 85%, #fff 100%);
  cursor: pointer;
  -webkit-transition: all 1s;
          transition: all 1s;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal-top-header {
  background: #000;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.modal-top-header .container {
  position: relative;
}
.modal-top-header-logo,
.modal-top-header-slogan {
  display: inline-block;
  vertical-align: top;
  height: 82px;
}
.modal-top-header-logo {
  padding-top: 25px;
  margin-right: 34px;
}
.modal-top-header-logo img {
  width: 154px;
  height: auto;
}
.modal-top-header-slogan {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  padding-top: 24px;
}
.modal-top-header-logo {
  padding-top: 25px;
}
.modal-top-header-logo img {
  width: 154px;
  height: auto;
}
.modal-top-header-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 38px;
  border: none;
  background: url("../images/icons/close-big.svg") no-repeat 100% 50%;
  overflow: hidden;
}
.modal-top-header-close:before {
  content: '';
  display: block;
  height: 120%;
}
.modal-open {
  overflow: hidden;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate3d(0, -25%, 0);
          transform: translate3d(0, -25%, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: 550px;
  margin: 82px auto 20px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000034;
  opacity: 0;
}
.modal-backdrop.in {
  opacity: 0.9;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.auth-modal {
  background: #fff;
  padding: 50px 75px;
}
.auth-modal h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 50px;
}
.auth-modal .form-group {
  overflow: hidden;
  margin-bottom: 40px;
}
.auth-modal .text-input {
  font-size: 24px;
  line-height: 28px;
  padding: 2px 0;
  margin-bottom: 12px;
}
.auth-modal__save {
  margin-bottom: 16px;
}
.large-form + .auth-modal__alt-action {
  margin-top: -10px;
}
.auth-modal__alt-action a,
.auth-modal__alt-action button {
  font-size: 14px;
  line-height: 20px;
  color: #464547;
  text-decoration: none;
  background: none;
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #464547;
}
.auth-modal .oauth {
  margin-top: 35px;
  margin-bottom: 17px;
}
.auth-modal .oauth p {
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 14px;
}
.ppf__top {
  background: #f1f1ef;
  padding: 40px 75px;
}
.ppf__top h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}
.ppf__menu li {
  padding: 10px 0;
}
.ppf__menu li:after,
.ppf__menu li:before {
  content: " ";
  display: table;
}
.ppf__menu li:after {
  clear: both;
}
.ppf__menu__controls {
  float: right;
}
.ppf__menu__controls__edit,
.ppf__menu__controls__remove {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  vertical-align: top;
  margin-top: -3px;
}
.ppf__menu__controls__edit {
  background-image: url("../images/icons/circle-edit.svg");
}
.ppf__menu__controls__remove {
  background-image: url("../images/icons/delete.svg");
}
.ppf__menu__name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
}
.ppf__bottom {
  padding: 50px 75px;
}
.ppf__bottom h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 50px;
}
.ppf__field {
  overflow: hidden;
  margin-bottom: 40px;
}
.ppf__field input {
  font-size: 24px;
  line-height: 28px;
  padding: 2px 0;
  margin-bottom: 12px;
}
.ppf__field__help {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.023em;
  color: #969495;
  text-transform: uppercase;
  display: block;
}
.ppf__save {
  margin-bottom: 25px;
}
.popover {
  position: absolute;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  right: 50%;
  bottom: 50%;
  width: 240px;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}
.popover.is-visible {
  opacity: 1;
  visibility: visible;
}
.popover__target {
  position: relative;
  cursor: pointer;
}
.popover__content {
  font-size: 12px;
  line-height: 14px;
  font-weight: 200;
  color: #969495;
  text-transform: none;
  position: absolute;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 38px;
  right: -50%;
  width: 100%;
  padding: 20px 28px;
  background: #fff;
  border: solid 1px;
}
.popover__content:before,
.popover__content:after {
  content: '';
  display: block;
  position: absolute;
}
.popover__content:before {
  width: 0;
  height: 38px;
  top: 100%;
  left: 50%;
  border-right: 1px solid #969495;
}
.popover__content:after {
  width: 7px;
  height: 7px;
  bottom: -42px;
  left: 50%;
  margin-left: -3px;
  background: #969495;
  border-radius: 100px;
}
.popover--for-round-icon .popover__content:after {
  display: none;
}
.popover--for-round-icon .popover__content:before {
  height: 33px;
}
.popover--target-width {
  width: 100%;
}
.dashed-text {
  border-bottom: dashed 1px;
  display: inline-block;
}
.address-info {
  padding-bottom: 30px;
}
.address-info h2 {
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
  padding: 50px 0;
}
.address-info__tab-wrap {
  border-top: dashed 1px #504f51;
  padding-bottom: 30px;
}
.address-info__tab-wrap h3 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  padding: 30px 0;
}
.address-info__prop {
  margin-bottom: 18px;
}
.address-info__prop__name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 200;
  color: #969495;
  text-transform: uppercase;
  margin-top: 10px;
}
.address-info__prop__value {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #464547;
}
.address-info__prop__value__copy {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.012em;
  color: #969495;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px;
  vertical-align: top;
  margin-top: 5px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
}
.address-info__prop__value__copy.zeroclipboard-is-hover {
  opacity: 1;
}
.address-info__prop__value:hover .address-info__prop__value__copy {
  opacity: 1;
}
.storage-select {
  background: #fff;
  padding: 100px 0;
}
.dash-instructions {
  padding: 56px 0;
}
.dash-instructions__intro {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
.dash-instructions__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  letter-spacing: 0.012em;
  margin-bottom: 30px;
}
.dash-instructions__num {
  font-size: 14px;
  line-height: 17px;
  font-weight: 200;
  letter-spacing: 0.012em;
}
.dash-instructions__num big {
  font-size: 25px;
  line-height: 25px;
  display: block;
  margin-bottom: 15px;
}
.dash-instructions__num a {
  border-bottom: solid 1px;
}
.dash-big-alert {
  background: #00f;
  padding: 38px 0;
  margin-bottom: 26px;
}
.dash-big-alert p {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: #fff;
}
.parcels-list {
  position: relative;
  overflow: hidden;
  margin-bottom: 26px;
  position: relative;
  padding-top: 142px;
}
.parcels-list__in-wrap {
  background: #fff;
  margin: 0 25px;
  min-width: 1244px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
@media (max-width: 1294px) {
  .parcels-list__in-wrap {
    width: 1244px;
    margin: 0 auto;
  }
}
.parcels-list__head {
  min-height: 143px;
  border-bottom: solid 1px #f1f1ef;
  background: #fff;
  margin: 0 25px;
}
.parcels-list__head__wrap {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
}
.is-above-vp.isnt-in-vp .parcels-list__head__wrap {
  top: auto;
  bottom: 0;
}
.is-in-vp.is-above-vp .parcels-list__head__wrap {
  position: fixed;
}
.parcels-list__head__sub-title {
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: -42px;
}
@media (max-width: 1294px) {
  .parcels-list__head {
    width: 1244px;
    margin: 0 auto;
  }
}
.parcels-list__head h2 {
  font-size: 35px;
  line-height: 42px;
  font-weight: 700;
  padding: 50px 0;
  position: relative;
}
.parcels-list__head .btn {
  margin-top: 50px;
}
.parcels-list__expandable {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 1s;
          transition: all 1s;
}
.parcels-list__expandable__hidden {
  display: none;
}
.parcels-list__expandable__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("../images/helpers/fade-grad.png") repeat-x 100% 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), color-stop(85%, #fff), to(#fff));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 85%, #fff 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 85%, #fff 100%);
  cursor: pointer;
  -webkit-transition: all 1s;
          transition: all 1s;
}
.dash-storage-select {
  background: #fff;
  padding-top: 80px;
  padding-bottom: 60px;
}
.dash-storage-select h3 {
  font-size: 35px;
  line-height: 42px;
  font-weight: 200;
  margin-bottom: 20px;
}
.dash-storage-select__bottom-note {
  font-size: 14px;
  line-height: 16px;
  font-weight: 200;
  letter-spacing: 0.012em;
  margin-top: 45px;
}
.dash-storage-item {
  position: relative;
}
.dash-storage-item__name,
.dash-storage-item__address,
.dash-storage-item__distance,
.dash-storage-item__border-descr,
.dash-storage-item__map-link,
.dash-storage-item__map {
  opacity: 0.3;
}
.is-checked .dash-storage-item__name,
.is-checked .dash-storage-item__address,
.is-checked .dash-storage-item__distance,
.is-checked .dash-storage-item__border-descr,
.is-checked .dash-storage-item__map-link,
.is-checked .dash-storage-item__map {
  opacity: 1;
}
.dash-storage-item__storage-photo {
  position: absolute;
  top: 0;
  left: 100%;
  max-width: none;
  z-index: 1;
  display: none;
}
.dash-storage-item__storage-photo--to-left {
  left: auto;
  right: 100%;
  margin-right: 12px;
}
.is-hovered .dash-storage-item__storage-photo {
  display: block;
}
.dash-storage-item label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}
.dash-storage-item .radio {
  margin-bottom: 50px;
}
.dash-storage-item__name {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 22px;
}
.dash-storage-item__address {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.dash-storage-item__distance {
  font-size: 19px;
  line-height: 22px;
  height: 70px;
  background: url("../images/icons/distance.svg") no-repeat;
  padding: 15px 0 0 30px;
  margin-bottom: 10px;
}
.dash-storage-item__distance__distance,
.dash-storage-item__distance__time {
  display: block;
}
.dash-storage-item__distance__distance {
  font-weight: 600;
}
.dash-storage-item__distance__time {
  font-weight: 200;
}
.dash-storage-item__border-descr {
  font-size: 12px;
  line-height: 14px;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 47px;
}
.dash-storage-item__border-descr strong {
  font-weight: 600;
}
.dash-storage-item__map-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 200;
}
.dash-storage-item__map-link a {
  display: inline-block;
  border-bottom: solid 1px;
}
.call-to-act {
  height: 700px;
  background: #fff;
  padding-top: 110px;
  background-position: 50% 100%;
}
.call-to-act h2 {
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
  margin-bottom: 30px;
}
.call-to-act__descr {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}
.call-to-act__btn-wrap {
  margin-top: 80px;
}
.call-to-act__btn {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  display: block;
  width: 100%;
  color: #fff;
  background: #ff592e;
  border-radius: 2px;
  padding: 18px 25px;
  border: none;
}
.call-to-act__btn:hover {
  opacity: 0.8;
}
.call-to-act__btn small {
  font-size: 100%;
  font-weight: 200;
}
p + .call-to-act__btn {
  margin-top: 0px;
}
.landing-hello {
  background-image: url("../images/photo/bg-call-to-act-a.jpg");
}
.landing-how-it-works {
  background: #fff;
  padding-top: 70px;
  padding-bottom: 110px;
}
.landing-how-it-works h3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  margin-bottom: 50px;
}
.landing-step__num {
  font-size: 35px;
  line-height: 42px;
  font-weight: 400;
  display: block;
}
.landing-step__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 0.005em;
  margin-bottom: 34px;
}
.landing-step__img {
  width: 150px;
  height: auto;
  margin-bottom: 46px;
}
.landing-step__descr {
  font-size: 18px;
  line-height: 25px;
  padding-right: 20px;
}
.landing-friend {
  background-image: url("../images/photo/bg-call-to-act-b.jpg");
}
.landing-registration {
  background-image: url("../images/photo/bg-call-to-act-c.jpg");
  padding-top: 60px;
}
.landing-registration__email {
  font-size: 18px;
  line-height: 20px;
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #464547;
  padding: 7px 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.landing-registration__email:focus {
  outline: none;
  border-color: #7fa1fc;
}
.landing-registration__email__wrap {
  margin-bottom: 40px;
}
.landing-registration__email__error {
  color: #f30;
  font-size: 14px;
  line-height: 15px;
  margin-top: 10px;
}
.landing-registration__terms {
  font-size: 12px;
  line-height: 16px;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.landing-registration__terms a {
  border-bottom: solid 1px;
}
.landing-registration .call-to-act__btn {
  margin-bottom: 10px;
}
.landing-oauth p {
  margin-bottom: 22px;
}
.landing-oauth__btn {
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  border: none;
  display: block;
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 12px 0px 8px;
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-color: #464547;
}
.landing-oauth__btn:hover {
  opacity: 0.8;
}
.landing-oauth__vk .landing-oauth__btn {
  background-image: url("../images/icons/vk.svg");
  -webkit-background-size: 10px 10px;
          background-size: 10px 10px;
}
.landing-oauth__odnoklassniki .landing-oauth__btn {
  background-image: url("../images/icons/odnoklassniki.svg");
  -webkit-background-size: 10px 15px;
          background-size: 10px 15px;
  padding-left: 15px;
}
.landing-oauth__facebook .landing-oauth__btn {
  background-image: url("../images/icons/facebook.svg");
  -webkit-background-size: 6px 15px;
          background-size: 6px 15px;
}
.landing-features {
  background: #f2f1f0;
  padding: 120px 0;
}
.landing-features h2 {
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
  margin-bottom: 86px;
}
.landing-features h3 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 32px;
  white-space: nowrap;
}
.landing-features li {
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  margin-bottom: 48px;
  position: relative;
}
.landing-features li:before {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("../images/icons/filled-correctly.svg");
  top: 0;
  left: -35px;
}
.landing-prices {
  background: #fff;
  padding: 80px 0;
}
.landing-prices h2 {
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
  margin-bottom: 35px;
}
.world-prices {
  background: url("../images/illustrations/world-map.png") no-repeat;
  -webkit-background-size: 830px 418px;
          background-size: 830px 418px;
  background-position: 100% 0;
  position: relative;
  height: 418px;
}
.world-prices__menu {
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 38px;
  width: 300px;
}
.world-prices__menu li {
  margin-bottom: 14px;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}
.world-prices__menu li.active {
  cursor: default;
}
.world-prices__menu li:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: #f1f1ef;
  position: absolute;
  left: 0;
  top: 0;
}
.world-prices__menu li.active:after {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  background: #ff592e;
  position: absolute;
  left: 3px;
  top: 3px;
}
.world-prices__info {
  position: relative;
  display: none;
}
.world-prices__info:after,
.world-prices__info:before {
  content: " ";
  display: table;
}
.world-prices__info:after {
  clear: both;
}
.world-prices__info.active {
  display: block;
}
.world-prices__info img {
  float: left;
  width: 133px;
  height: 133px;
  background-color: #ff592e;
  margin-right: 44px;
}
.world-prices__info h4 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.world-prices__info__name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.world-prices__info__bottom {
  font-size: 12px;
  line-height: 14px;
  font-weight: 200;
  position: absolute;
  bottom: 0;
  left: 177px;
  width: 280px;
}
.world-prices__price {
  position: absolute;
  display: none;
  left: 738px;
  top: 69px;
  width: 300px;
}
.world-prices__price.active {
  display: block;
}
.world-prices__price__item {
  position: absolute;
  left: 4px;
  top: 213px;
}
.world-prices__price__item__num {
  font-size: 21px;
  line-height: 50px;
  font-weight: 600;
}
.world-prices__price__item__num strong {
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
}
.world-prices__price__item__loc {
  font-size: 27px;
  line-height: 27px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: -0.3em;
}
.world-prices__price__item:before {
  content: '';
  position: absolute;
  display: block;
  bottom: 6px;
  left: -5px;
  width: 0;
  height: 253px;
  border-left: 1px solid #ff592e;
}
.world-prices__price__item:after {
  content: '';
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  background: #ff592e;
  border-radius: 100px;
  left: -7px;
  bottom: 257px;
}
.world-prices__price__item--local .world-prices__price__item__num {
  font-size: 13px;
  line-height: 23px;
  font-weight: 600;
}
.world-prices__price__item--local .world-prices__price__item__num strong {
  font-size: 23px;
  line-height: 23px;
  font-weight: 600;
}
.world-prices__price__item--local .world-prices__price__item__loc {
  font-size: 13px;
  line-height: 13px;
  font-weight: 200;
}
.world-prices__price__item--local {
  left: 50px;
  top: 90px;
}
.world-prices__price__item--local:before {
  bottom: 3px;
  left: -3px;
  height: 125px;
}
.world-prices__price__item--local:after {
  left: -5px;
  bottom: 126px;
}
.world-prices__price__item--rome {
  left: 35px;
  top: 212px;
}
.world-prices__price__item--rome:before {
  height: 235px;
}
.world-prices__price__item--rome:after {
  bottom: 239px;
}
.world-prices__price__item--new-york {
  left: -195px;
  top: 210px;
}
.world-prices__price__item--new-york:before {
  height: 224px;
}
.world-prices__price__item--new-york:after {
  bottom: 228px;
}
.world-prices__price__item--london {
  left: -6px;
  top: 212px;
}
.world-prices__price__item--london:before {
  height: 266px;
}
.world-prices__price__item--london:after {
  bottom: 270px;
}
.parcel-name-block,
.declaration,
.parcel-info--single,
.parcel-full-info {
  background: #fff;
}
.declaration,
.parcel-info--single {
  border-bottom: solid 1px #f2f1f0;
}
.parcel-info {
  border-top: solid 1px #f1f1ef;
  padding: 48px 0 40px;
}
.parcel-info .container {
  position: relative;
}
.parcel-info .container:before {
  content: '';
  display: block;
  position: absolute;
  top: -48px;
  left: 0;
  height: 14px;
  width: 12px;
}
.parcels-list--action-needed .parcel-info .container:before {
  background: #f00;
}
.parcels-list--ready .parcel-info .container:before {
  background: #ff592e;
}
.parcels-list--picked-up .parcel-info .container:before {
  background: #464547;
}
.parcel-list--picked-up-pending.parcel-info .container:before {
  background: #00f;
}
.parcel-info h4 {
  font-size: 30px;
  line-height: 34px;
  font-weight: 600;
  margin-bottom: 26px;
}
.parcel-info__label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.023em;
  color: #969495;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}
.parcel-info__value {
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  display: block;
  margin-bottom: 20px;
}
.parcel-info__value strong {
  font-weight: 600;
}
.parcel-info__danger-note,
.parcel-info__info-note {
  font-size: 14px;
  line-height: 15px;
  font-weight: 200;
  display: block;
  margin-top: 14px;
}
.parcel-info__danger-note {
  color: #fb0000;
}
.parcel-info__info-note {
  color: #00f;
}
.parcel-info__controls-spacing {
  display: block;
  height: 16px;
}
.parcel-info--single {
  border-top: none;
}
.parcel-info--single .container:before {
  display: none;
}
.parcel-name-block {
  padding-top: 48px;
}
.parcel-name-block .container {
  position: relative;
}
.parcel-name-block .container:before {
  content: '';
  display: block;
  position: absolute;
  top: -48px;
  left: 0;
  height: 14px;
  width: 12px;
  background: #ff592e;
}
.parcel-name-block--action-requred .container:before {
  background: #f00;
}
.parcel-name-block--picked-up .container:before {
  background: #464547;
}
.parcel-name-block--has-issue .container:before,
.parcel-name-block--had-issue .container:before {
  background: #00f;
}
.parcel-full-info {
  padding-top: 32px;
  padding-bottom: 100px;
}
.parcel-full-info h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.012em;
  margin-bottom: 40px;
}
.parcel-full-info__label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.023em;
  color: #969495;
  text-transform: uppercase;
  display: block;
  margin-bottom: 16px;
}
.parcel-full-info__value {
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  display: block;
  margin-bottom: 56px;
}
.parcel-full-info__photo-prev {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 160px;
  height: 160px;
  border: solid 1px #a2a2a3;
  margin-bottom: 30px;
}
.action-requred-block {
  background: #f00;
  color: #fff;
  padding: 50px 0 20px;
}
.action-requred-block__message {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  display: block;
  margin-bottom: 30px;
}
.action-requred-block__secondary-text {
  font-size: 25px;
  line-height: 30px;
  font-weight: 200;
}
.action-requred-block__secondary-text p {
  margin-bottom: 30px;
}
.issue-alert-block {
  background: #00f;
  color: #fff;
  padding: 50px 0 20px;
}
.issue-alert-block--resolved {
  background: #464547;
}
.issue-alert-block__primary-text {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}
.issue-alert-block__primary-text p {
  margin-bottom: 30px;
}
.issue-alert-block__secondary-text {
  font-size: 25px;
  line-height: 30px;
  font-weight: 200;
}
.issue-alert-block__secondary-text p {
  margin-bottom: 30px;
}
.single-form-page {
  padding: 80px 0 80px;
  background: #fff;
}
.single-form-page h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 30px;
}
.single-form-page__text {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 1em;
}
h3 + .single-form-page__text {
  margin-top: -10px;
}
.single-form-page__text + form {
  margin-top: 60px;
}
.single-form-page__text a {
  text-decoration: underline;
}
.succes-message img {
  display: block;
  margin-bottom: 60px;
  margin-top: 30px;
}
.payment-form-wrap {
  background: #fff;
  padding-top: 60px;
  padding-bottom: 145px;
}
.payment-form-wrap h2 {
  font-size: 35px;
  line-height: 42px;
  font-weight: 700;
  margin-bottom: 55px;
}
.payment-form-wrap__bottom__note {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  max-width: 550px;
  margin-bottom: 35px;
}
.payment-form-wrap__bottom__note strong {
  color: #00f;
}
.payment-form-wrap__error {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.009em;
  color: #ff0b15;
  margin-bottom: 25px;
  margin-top: -45px;
}
.in-local-currency {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.023em;
  text-transform: uppercase;
  color: #969495;
  text-align: center;
  margin-top: 12px;
}
.payment-form {
  position: relative;
  height: 333px;
  width: 672px;
  margin-bottom: 50px;
}
.payment-form .form-control {
  background: transparent;
  border: none;
  border-bottom: solid 2px #464547;
  padding: 0;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.payment-form .form-control:focus,
.payment-form .has-error .form-control:focus {
  border-color: #00f;
  outline: none;
}
.payment-form .has-error .form-control {
  border-color: #ff0b15;
}
.payment-form__code-wrap,
.payment-form__main-wrap {
  position: absolute;
  height: 100%;
  width: 523px;
  border-radius: 23px;
  top: 0;
}
.payment-form__code-wrap {
  right: 0;
  background: #cac9ca;
  padding-top: 35px;
  padding-left: 374px;
}
.payment-form__code-wrap:before {
  content: '';
  display: block;
  height: 75px;
  background: #464547;
  margin-bottom: 37px;
}
.payment-form__main-wrap {
  left: 0;
  background: #f1f0ef;
  padding: 30px 0 0 34px;
  z-index: 1;
}
.payment-form label {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0.012em;
  color: #969495;
  text-transform: uppercase;
  display: block;
}
.payment-form .form-control {
  font-size: 23px;
  line-height: 25px;
  font-weight: 700;
  padding: 2px 0;
  margin-bottom: 10px;
  display: inline-block;
}
.payment-form__code {
  background: #fff;
  padding: 16px 26px 17px;
  display: inline-block;
}
.payment-form__code input {
  width: 60px;
}
.payment-form__title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.payment-form__number {
  margin-bottom: 18px;
}
.payment-form__number input {
  width: 300px;
}
.payment-form__date {
  margin-bottom: 18px;
}
.payment-form__date input {
  width: 35px;
}
.payment-form__date__delimetr {
  font-size: 26px;
  line-height: 26px;
  font-weight: 200;
  color: #969495;
  vertical-align: top;
  display: inline-block;
  margin: 4px 10px 0 15px;
}
.payment-form__ovner input {
  width: 450px;
}
.payment-error-page {
  padding: 60px 0 120px;
}
.payment-error-page__icon {
  padding-bottom: 40px;
}
.payment-error-page h2 {
  font-size: 35px;
  line-height: 42px;
  font-weight: 700;
  padding-bottom: 50px;
}
.payment-error-page p {
  font-size: 25px;
  line-height: 30px;
  font-weight: 200;
  padding-bottom: 50px;
}
.payment-success {
  background: #fff;
}
.payment-success h2 {
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
  padding: 60px 0 40px;
}
.payment-success__block {
  border-top: solid 1px #f1f1ef;
  border-bottom: solid 1px #f1f1ef;
}
.payment-success__block + .payment-success__block {
  border-top: none;
}
.payment-success__block__head {
  padding: 30px 0;
}
.payment-success__block__head h3 {
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
}
.payment-success__block__head a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 200;
  letter-spacing: 0.012em;
  display: inline-block;
  border-bottom: 1px solid;
  margin-top: 15px;
}
.payment-success__bottom {
  padding: 55px 0 65px;
}
.settings-block {
  background: #f1f1ef;
  padding-top: 60px;
  padding-bottom: 40px;
}
.settings-block--alt-bg {
  background: #fff;
}
.settings-block h3,
.settings-block__sub-title {
  max-width: 700px;
}
.settings-block h3 {
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
  margin-bottom: 12px;
}
.settings-block__sub-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  margin-bottom: 32px;
}
.storage-select-item label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}
.storage-select-item .radio {
  margin-bottom: 16px;
}
.storage-select-item__name {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 22px;
}
.storage-select-item__name small {
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
}
.storage-select-item__map {
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;
  letter-spacing: 0.012em;
  display: inline-block;
  border-bottom: solid 1px;
}
.alert-select-item {
  margin-bottom: 50px;
}
.alert-select-item label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}
.alert-select-item .checkbox {
  margin-bottom: 18px;
}
.alert-select-item__name,
.alert-select-item__value {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
}
.alert-select-item__setup {
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;
  letter-spacing: 0.012em;
  display: inline-block;
  border-bottom: solid 1px;
  margin-top: 12px;
}
.phone-input__short {
  width: 56px;
  text-align: center;
}
.phone-input__long {
  width: 100%;
  text-align: center;
}
.phone-input .input-group__addon {
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  padding: 0 5px;
}
.phone-input .input-group__addon:first-child {
  padding-left: 0;
}
.settings-contacts-form {
  padding: 30px 0 10px;
}
.settings-contacts-form__descr {
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  max-width: 480px;
  margin-bottom: 28px;
}
.settings-contacts-form .form-group {
  padding-top: 10px;
}
.settings-contacts-form .text-input {
  font-size: 20px;
  line-height: 24px;
  padding: 2px 0;
}
.settings-contacts-form .form-help {
  font-size: 12px;
  line-height: 14px;
  font-weight: 200;
  text-transform: uppercase;
  color: #969495;
  margin-top: 18px;
}
.settings-contacts-form__resend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 200;
  margin-top: 35px;
}
.settings-contacts-form__resend button {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: solid 1px;
}
.settings-pass-form {
  padding: 30px 0 40px;
}
.settings-pass-form .form-group {
  padding-top: 10px;
  padding-bottom: 30px;
}
.settings-pass-form .text-input {
  font-size: 20px;
  line-height: 24px;
  padding: 2px 0;
}
.storage-full-info {
  background: #fff;
}
.storage-full-info h1 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 600;
  padding: 60px 0 20px;
}
.storage-full-info__address {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.storage-full-info__distance {
  height: 164px;
  position: relative;
  margin-bottom: 30px;
  background: url("../images/icons/distance.svg") no-repeat;
  background-position: 0 47%;
}
.storage-full-info__distance__item {
  position: absolute;
  top: 0;
}
.storage-full-info__distance__item:last-child {
  top: auto;
  bottom: 0;
}
.storage-full-info__distance__item strong {
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
}
.storage-full-info__distance__item small {
  font-size: 10px;
  line-height: 12px;
  font-weight: 200;
  text-transform: uppercase;
  display: block;
}
.storage-full-info__distance2 {
  margin-bottom: 56px;
}
.storage-full-info__distance2__item {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 12px;
}
.storage-full-info__distance2__item img {
  margin-right: 3px;
}
.storage-full-info__distance2__item strong {
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
}
.storage-full-info__photo {
  display: block;
}
.storage-full-info__bottom p {
  font-size: 20px;
  line-height: 24px;
  padding-top: 105px;
}
.storage-full-info__map-wrap {
  overflow: hidden;
  height: 360px;
}
.storage-full-info__map-wrap img {
  display: block;
  margin-top: -210px;
}
.storage-google-map iframe {
  display: block;
  width: 100%;
  height: 360px;
  border: 0;
}
.text-page {
  font-size: 20px;
  line-height: 25px;
  padding-top: 2em;
  padding-bottom: 4em;
}
.text-page a {
  border-bottom: 1px solid;
}
.text-page p {
  margin-bottom: 1em;
}
.text-page h1,
.text-page h2 {
  margin-top: 2em;
  margin-bottom: 1em;
}
.text-page h1:first-child,
.text-page h2:first-child {
  margin-top: 0;
}
.text-page h1 {
  font-size: 40px;
  line-height: 45px;
  font-weight: 600;
  letter-spacing: -0.01em;
}
.text-page h2 {
  font-size: 35px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: -0.01em;
}
.text-page img {
  display: block;
  margin-bottom: 1em;
  width: 100%;
}
.text-page .btn {
  margin-bottom: 1em;
}
.text-page ul,
.text-page ol {
  margin: 2em 0 2em 34px;
}
.text-page ul li,
.text-page ol li {
  margin-bottom: 20px;
}
.text-page ul li {
  position: relative;
}
.text-page ul li:before {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("../images/icons/filled-correctly.svg");
  top: 0;
  left: -35px;
}
.text-page ol {
  margin-left: 0;
}
.text-page ol li {
  list-style: decimal outside;
  display: list-item;
}
