<div class="form-horizontal">
  <div class="form-group has-error">
    <label for="input-length-1" class="col-sm-2 control-label"><%- trans('Длина') %></label>
    <div class="col-sm-4">
      <div class="input-group">
        <input type="text" class="form-control" id="input-length-1">
        <span class="input-group-addon"><%- trans('мм') %></span>
      </div>
    </div>
  </div>
  <div class="form-group has-error">
    <label for="input-width-1" class="col-sm-2 control-label"><%- trans('Ширина') %></label>
    <div class="col-sm-4">
      <div class="input-group">
        <input type="text" class="form-control" id="input-width-1">
        <span class="input-group-addon"><%- trans('мм') %></span>
      </div>
    </div>
  </div>
  <div class="form-group has-error">
    <label for="input-heigth-1" class="col-sm-2 control-label"><%- trans('Высота') %></label>
    <div class="col-sm-4">
      <div class="input-group">
        <input type="text" class="form-control" id="input-heigth-1">
        <span class="input-group-addon"><%- trans('мм') %></span>
      </div>
    </div>
  </div>
  <div class="form-group has-error">
    <label for="input-weigth-1" class="col-sm-2 control-label"><%- trans('Вес') %></label>
    <div class="col-sm-4">
      <div class="input-group">
        <input type="text" class="form-control" id="input-weigth-1">
        <span class="input-group-addon"><%- trans('кг') %></span>
      </div>
    </div>
  </div>
</div>
