<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label"><%- trans('Фотографии посылки') %></label>
    <div class="col-sm-10">
      <div data-photos-widget="<%- staticUrl('images/samples/u366.jpg') %>" data-count="0" id="parcel-photos"></div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%- trans('Фотографии документов') %></label>
    <div class="col-sm-10">
      <div data-photos-widget="<%- staticUrl('images/samples/doc-photos/u434.jpg') %>,<%- staticUrl('images/samples/doc-photos/u448.jpg') %>,<%- staticUrl('images/samples/doc-photos/u456.jpg') %>" data-count="0" id="doc-photos"></div>
    </div>
  </div>
</div>
