<table class="table table-condensed sorted-table">
  <thead>
    <tr>
      <th class="sorted-asc"><%- trans('Номер посылки') %></th>
      <th><%- trans('Сьют') %></th>
      <th><%- trans('Фамилия и имя') %></th>
      <th><%- trans('Трекинг') %></th>
      <th><%- trans('На складе с') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="<%- pageUrl('storage-parcel') %>">A3950643</a>
      </td>
      <td>
        <a href="<%- pageUrl('storage-suite') %>">31339</a>
      </td>
      <td>
        <a href="<%- pageUrl('storage-suite') %>">Pushkin Dmitriy</a>
      </td>
      <td>1Z6R646E0319744877</td>
      <td>13.06.2014 21:01</td>
    </tr>
    <tr>
      <td>
        <a href="<%- pageUrl('storage-parcel') %>">V3950832</a>
      </td>
      <td>
        <a href="<%- pageUrl('storage-suite') %>">31339</a>
      </td>
      <td>
        <a href="<%- pageUrl('storage-suite') %>">Voronin Sergey</a>
      </td>
      <td>1Z6R646E0319744871</td>
      <td>14.05.2014 11:44</td>
    </tr>
    <tr>
      <td>
        <a href="<%- pageUrl('storage-parcel') %>">P3950843</a>
      </td>
      <td>
        <a href="<%- pageUrl('storage-suite') %>">31339</a>
      </td>
      <td>
        <a href="<%- pageUrl('storage-suite') %>">Pushkin Dmitriy</a>
      </td>
      <td>1Z6R646E0319744872</td>
      <td>12.05.2014 11:21</td>
    </tr>
    <tr>
      <td>
        <a href="<%- pageUrl('storage-parcel') %>">E3950193</a>
      </td>
      <td>
        <a href="<%- pageUrl('storage-suite') %>">31328</a>
      </td>
      <td>
        <a href="<%- pageUrl('storage-suite') %>">Eroshina Elena</a>
      </td>
      <td>1Z6R646E0319744873</td>
      <td>13.06.2014 11:35</td>
    </tr>
    <tr>
      <td>
        <a href="<%- pageUrl('storage-parcel') %>">P3950621</a>
      </td>
      <td>
        <a href="<%- pageUrl('storage-suite') %>">31337</a>
      </td>
      <td>
        <a href="<%- pageUrl('storage-suite') %>">Petrov Oleg</a>
      </td>
      <td>1Z6R646E0319744874</td>
      <td>13.06.2014 13:05</td>
    </tr>
  </tbody>
</table>
