<?php
$kiosk = Mage::getSingleton('core/session')->getKiosk();

?>

<div class="form-title">
    <div class="container">
        <h1><?php echo $this->__("Укажите информацию, используемую для выставления счетов (billing address)") ?></h1>
        <?php echo $this->__("Необходима для идентификации личности") . ($kiosk['declaration_required'] ? $this->__(" и оформления таможенной декларации") : '') ?>
    </div>
</div>

<form class="form form-large" method="post" action="<?php echo $this->getUrl('pochta/kiosk/billingPost') ?>">

    <div class="container">

        <div class="form-group">
            <?php if (Mage::app()->getRequest()->getParam('error')): ?>
                <p class="form-error">
                    <?php echo $this->__("Проверьте правильность информации или обратитесь к менеджеру") ?>
                </p>
            <?php endif; ?>

            <div class="form-group">
                <label for="carrier_name_first" class="col-sm-2 control-label"><?php echo $this->__("Имя") ?></label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" id="carrier_name_first" name="carrier_name_first" placeholder="<?php echo $this->__("как в загранпаспорте") ?>" value="<?php echo $kiosk['carrier_name_first'] ?>" />
                </div>
            </div>

            <div class="form-group">
                <label for="carrier_name_last" class="col-sm-2 control-label"><?php echo $this->__("Фамилия") ?></label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" id="carrier_name_last" name="carrier_name_last" placeholder="<?php echo $this->__("как в загранпаспорте") ?>" value="<?php echo $kiosk['carrier_name_last'] ?>" />
                </div>
            </div>

            <div class="form-group">
                <label for="consignee_address_line" class="col-sm-2 control-label"><?php echo $this->__("Адрес") ?></label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" id="consignee_address_line" name="consignee_address_line" placeholder="<?php echo $this->__("латиницей") ?>" value="<?php echo $kiosk['consignee_address_line'] ?>" />
                </div>
            </div>

            <div class="form-group">
                <label for="consignee_address_city" class="col-sm-2 control-label"><?php echo $this->__("Город") ?></label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" id="consignee_address_city" name="consignee_address_city" placeholder="<?php echo $this->__("латиницей") ?>"
                           value="<?php echo $kiosk['consignee_address_city'] ? $kiosk['consignee_address_city'] : $this->__('Saint-Petersburg') ?>" />
                </div>
            </div>

            <div class="form-group">
                <label for="consignee_address_country" class="col-sm-2 control-label"><?php echo $this->__("Страна") ?></label>

                <div class="col-sm-4">
                    <?php $countryId = $kiosk['consignee_address_country'] != '' ? $kiosk['consignee_address_country'] : 'RU' ; ?>
                    <select name="consignee_address_country" class="form-control">
                        <option <?php echo ($countryId == 'RU' ? 'selected' : '')  ?> value="RU"><?php echo $this->__("Russia") ?></option>
                        <option <?php echo ($countryId == 'UA' ? 'selected' : '')  ?> value="UA"><?php echo $this->__("Ukraine") ?></option>
                        <option <?php echo ($countryId == 'FI' ? 'selected' : '')  ?> value="FI"><?php echo $this->__("Finland") ?></option>
                        <option <?php echo ($countryId == 'NA' ? 'selected' : '')  ?> value="NA"><?php echo $this->__("Other") ?></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="consignee_address_postcode" class="col-sm-2 control-label"><?php echo $this->__("Индекс") ?></label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" id="consignee_address_postcode" name="consignee_address_postcode" value="<?php echo $kiosk['consignee_address_postcode'] ?>" />
                </div>
            </div>
        </div>

        <div class="form-submit">
            <div class="row">
                <div class="col-4">
                    <button type="submit" class="btn btn-block btn-blue"><?php echo $this->__("Далее") ?></button>
                </div>
            </div>
        </div>
    </div>

</form>