<div class="form-horizontal">

  <div class="form-group">
    <label for="tmp-id-5" class="col-sm-3 control-label"><%- trans('Порядковый номер инвентаризации') %></label>
    <div class="col-sm-6">
      <p class="form-control-static">13</p>
    </div>
  </div>

  <div class="form-group">
    <label for="tmp-id-5" class="col-sm-3 control-label"><%- trans('Дата') %></label>
    <div class="col-sm-6">
      <p class="form-control-static">22.06.2014</p>
    </div>
  </div>

  <div class="form-group">
    <label for="tmp-id-5" class="col-sm-3 control-label"><%- trans('Склад') %></label>
    <div class="col-sm-6">
      <p class="form-control-static">Лаппеенранта</p>
    </div>
  </div>

  <div class="form-group">
    <label for="tmp-id-5" class="col-sm-3 control-label"><%- trans('Сотрудник') %></label>
    <div class="col-sm-6">
      <p class="form-control-static">Kuznetsov Maxim</p>
    </div>
  </div>

  <div class="form-group">
    <label for="tmp-id-7" class="col-sm-3 control-label"><%- trans('Причина инвентаризации') %></label>
    <div class="col-sm-6">
      <p class="form-control-static">Плановая</p>
    </div>
  </div>

  <div class="form-group">
    <label for="tmp-id-6" class="col-sm-3 control-label"><%- trans('Комментарии') %></label>
    <div class="col-sm-6">
      <p class="form-control-static">—</p>
    </div>
  </div>

</div>
