<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">
        43 <%- trans('из') %> 483
      </span>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%- pageUrl('inventory-results') %>"><%- trans('Завершить') %></a></li>
        <li><a href="<%- pageUrl('storage-list') %>"><%- trans('Отмена') %></a></li>
      </ul>
    </div>

  </div>
</nav>
