<% var TITLE = trans('Акты') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<% var ACT_NAME = trans('О списании #130') %>
<% include includes/inventory/act-header %>

<div class="container">
  <% include includes/inventory/act-inventory-info %>
  <br>
  <% include includes/inventory/act--written-off %>
  <% include includes/pagination %>
</div>

<% include includes/layout/outro %>

