<% var TITLE = trans('Проблема P3960574') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/storage/parcel-header %>


<div class="container">


  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%- trans('Посылку необходимо вернуть') %></h3>
    </div>
    <div class="panel-body">

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 col-xs-4 control-label"><%- trans('Квитанция') %></label>
          <div class="col-sm-2 col-xs-4">
            <a href="<%- staticUrl('images/samples/doc-photos/u434.jpg') %>" data-lightbox="parcel-photos" class="thumbnail">
              <img src="<%- staticUrl('images/samples/doc-photos/u434.jpg') %>">
            </a>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Возвратный номер') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">45766</p>
          </div>
        </div>
      </div>

      <hr>


      <p><%- trans('Клиент прикрепил некорректный файл квитанции.<br>Ожидание ответа клиента ...') %></p>

      <div class="well well-sm">
        <small><%- trans('Нажмите для имитации действия клиента:') %></small><br>
        <a href="<%- pageUrl('issues--item--return--prepaid-1') %>" class="btn btn-xs btn-default">
          <%- trans('Прикреплен новый файл') %>
        </a>
        <a href="<%- pageUrl('issues--item--return--not-prepaid-1') %>" class="btn btn-xs btn-default">
          <%- trans('Клиент подтвердил отсутсвие квитанции') %>
        </a>
      </div>


    </div>
  </div>

  <% include includes/issues/item-bottom %>

</div>



<% include includes/layout/outro %>
