<% var TITLE = trans('Выдача') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<div class="container">
  <div class="row">

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">Petrov Oleg <strong>(67785)</strong></div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li>P0123456 (Amazon)</li>
            <li>P0654321 (EBay)</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">Eroshina Elena <strong>(31337)</strong></div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li>E0012345 (ZPacks)</li>
            <li>E0054321 (John Abela)</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">Pushkin Dmitriy <strong>(31338)</strong></div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li>P0012345 (ZPacks)</li>
            <li>P0054321 (EBay)</li>
            <li>P0054324 (EBay)</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">Alekseev Vladislav <strong>(32212)</strong></div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li>A0123456 (Amazon)</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>

<% include includes/layout/outro %>
