<% var TITLE = trans('Выдача #638') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<% include includes/issuance-be/issuance-header %>

<div class="container">

  <div class="alert alert-info">
    <%- trans('Передайте посылки клиенту. Удостоверьтесь, что клиент осмотрел посылки. Если он высказывает претензии отметьте проблемные посылки, завершите выдачу и позовите менеджера.') %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th><%- trans('Номер посылки') %></th>
        <th><%- trans('Магазин') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>K0658163</td>
        <td>Amazon</td>
      </tr>
      <tr>
        <td>K0658164</td>
        <td>Amazon</td>
      </tr>
    </tbody>
  </table>

  <br>

  <a href="<%- pageUrl('issuance--queue') %>" class="btn btn-primary"><%- trans('Завершить выдачу') %></a>
  <a href="<%- pageUrl('issuance--issuance-6-1') %>" class="btn btn-default"><%- trans('Отметить проблемные посылки') %></a>

</div>

<% include includes/layout/outro %>
