<% var TITLE = trans('Проблема P3960574') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/storage/parcel-header %>


<div class="container">


  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%- trans('Клиент просит предъявить почтовой службе') %></h3>
    </div>
    <div class="panel-body">

      <p><%- trans('Необходимо направить претензию почтовой службе. После завершения закройте проблему.') %></p>

      <a href="<%- pageUrl('storage-parcel') %>" class="btn btn-primary"><%- trans('Закрыть проблему') %></a>

    </div>
  </div>

  <% include includes/issues/item-bottom %>

</div>



<% include includes/layout/outro %>
