<% include includes/layout/intro %>

<a href="<%- pageUrl('issuance--issuance-5-1') %>">
  <img src="<%- staticUrl('images/native-screens/Sign-Empty.jpg') %>">
</a>

<% include includes/layout/outro %>
