<% var TITLE = trans('Платежи') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:history.go(-1)"><%- trans('Назад') %></a></li>
      </ul>
    </div>

  </div>
</nav>


<div class="container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#tab-pending" role="tab" data-toggle="tab"><%- trans('Граница пересечена') %> <span class="badge">3</span></a></li>
    <li><a href="#tap-unholded" role="tab" data-toggle="tab"><%- trans('Расхолдированы') %> <span class="badge">4</span></a></li>
    <li><a href="#tab-pending" role="tab" data-toggle="tab"><%- trans('Граница не пересечена') %> <span class="badge">3</span></a></li>
    <li><a href="#tab-issue" role="tab" data-toggle="tab"><%- trans('Проблемные') %> <span class="badge">2</span></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="tab-pending">
      <br>
      <table class="table table-condensed sorted-table">
        <thead>
          <tr>
            <th class="sorted-asc"><%- trans('ID') %></th>
            <th><%- trans('Принятие холда') %></th>
            <th><%- trans('Выдача посылки') %></th>
            <th><%- trans('Сьют') %></th>
            <th><%- trans('Сумма') %></th>
            <th class="no-sorting"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="<%- pageUrl('payments--item') %>">3462</a></td>
            <td>16.06.2014 13:28</td>
            <td>—</td>
            <td><a href="<%- pageUrl('storage-suite') %>">31329</a></td>
            <td>€ 551</td>
            <td>
              <button type="button" class="btn btn-sm btn-primary"><%- trans('Расхолдить') %></button>
            </td>
          </tr>
          <tr>
            <td><a href="<%- pageUrl('payments--item') %>">2314</a></td>
            <td>14.06.2014 19:10</td>
            <td>19.06.2014 17:46</td>
            <td><a href="<%- pageUrl('storage-suite') %>">31301</a></td>
            <td>€ 782</td>
            <td>
              <button type="button" class="btn btn-sm btn-primary"><%- trans('Расхолдить') %></button>
            </td>
          </tr>
          <tr>
            <td><a href="<%- pageUrl('payments--item') %>">3324</a></td>
            <td>13.06.2014 09:39</td>
            <td>25.06.2014 08:13</td>
            <td><a href="<%- pageUrl('storage-suite') %>">31325</a></td>
            <td>€ 102</td>
            <td>
              <button type="button" class="btn btn-sm btn-primary"><%- trans('Расхолдить') %></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="tap-unholded">
      <br>
      <table class="table table-condensed sorted-table">
        <thead>
          <tr>
            <th class="sorted-asc"><%- trans('ID') %></th>
            <th><%- trans('Принятие холда') %></th>
            <th><%- trans('Выдача посылки') %></th>
            <th><%- trans('Сьют') %></th>
            <th><%- trans('Сумма') %></th>
            <th><%- trans('Расходирование') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="<%- pageUrl('payments--item') %>">2321</a></td>
            <td>13.06.2014 13:05</td>
            <td>—</td>
            <td><a href="<%- pageUrl('storage-suite') %>">31337</a></td>
            <td>€ 551</td>
            <td>11.07.2014 13:05</td>
          </tr>
          <tr>
            <td><a href="<%- pageUrl('payments--item') %>">3322</a></td>
            <td>13.06.2014 12:16</td>
            <td>19.06.2014 17:45</td>
            <td><a href="<%- pageUrl('storage-suite') %>">31338</a></td>
            <td>€ 304</td>
            <td>28.06.2014 13:05</td>
          </tr>
          <tr>
            <td><a href="<%- pageUrl('payments--item') %>">3323</a></td>
            <td>11.06.2014 09:12</td>
            <td>25.06.2014 18:01</td>
            <td><a href="<%- pageUrl('storage-suite') %>">31339</a></td>
            <td>€ 523</td>
            <td>29.06.2014 13:05</td>
          </tr>
          <tr>
            <td><a href="<%- pageUrl('payments--item') %>">3328</a></td>
            <td>11.06.2014 09:12</td>
            <td>25.06.2014 18:01</td>
            <td><a href="<%- pageUrl('storage-suite') %>">31371</a></td>
            <td>€ 200</td>
            <td>29.06.2014 13:05</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="tab-issue">
      <br>
      <table class="table table-condensed sorted-table">
        <thead>
          <tr>
            <th class="sorted-asc"><%- trans('ID') %></th>
            <th><%- trans('Принятие холда') %></th>
            <th><%- trans('Выдача посылки') %></th>
            <th><%- trans('Сьют') %></th>
            <th><%- trans('Сумма') %></th>
            <th class="no-sorting"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="<%- pageUrl('issues--group--return-fee') %>">3462</a></td>
            <td>16.06.2014 13:28</td>
            <td>—</td>
            <td><a href="<%- pageUrl('storage-suite') %>">31329</a></td>
            <td>€ 551</td>
            <td>
              <a href="<%- pageUrl('issues--group--return-fee') %>" class="btn btn-sm btn-primary"><%- trans('Подробнее') %></a>
            </td>
          </tr>
          <tr>
            <td><a href="<%- pageUrl('issues--group--return-fee') %>">2314</a></td>
            <td>14.06.2014 19:10</td>
            <td>19.06.2014 17:46</td>
            <td><a href="<%- pageUrl('storage-suite') %>">31301</a></td>
            <td>€ 782</td>
            <td>
              <a href="<%- pageUrl('issues--group--return-fee') %>" class="btn btn-sm btn-primary"><%- trans('Подробнее') %></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <% include includes/pagination %>

</div>

<% include includes/layout/outro %>
