<% var TITLE = trans('Транзит #73') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/transit/header %>


<div class="container">

  <h1><%- trans('Акт о приемке транзитных посылок') %></h1>
  <br>

  <table class="table">
    <thead>
      <tr>
        <th><%- trans('Номер посылки') %></th>
        <th><%- trans('Клиент') %></th>
        <th><%- trans('Продавец') %></th>
        <th><%- trans('Склад') %></th>
        <th><%- trans('Время приемки') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>P4017888</td>
        <td>Petrov Oleg</td>
        <td>Google</td>
        <td><%- trans('Третий') %></td>
        <td>27.09.2013 08:56</td>
      </tr>
      <tr>
        <td>P6211309</td>
        <td>Petrov Oleg</td>
        <td>Microsoft</td>
        <td><%- trans('Лаппеенранта') %></td>
        <td>27.09.2013 08:56</td>
      </tr>
      <tr>
        <td>P4171930</td>
        <td>Petrov Oleg</td>
        <td>Microsoft</td>
        <td><%- trans('Третий') %></td>
        <td>27.09.2013 08:56</td>
      </tr>
      <tr>
        <td>P1942254</td>
        <td>Pushkin Dmitriy</td>
        <td>Google</td>
        <td><%- trans('Лаппеенранта') %></td>
        <td>27.09.2013 08:56</td>
      </tr>
    </tbody>
  </table>
  <br>

  <a href="<%- pageUrl('transit-in') %>" class="btn btn-default"><%- trans('Принять другие посылки') %></a>
  <br>
  <br>

</div>



<% include includes/layout/outro %>
