<% var TITLE = trans('Транзит #73') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/transit/header %>


<div class="container">

  <form action="<%- pageUrl('transit-out-2') %>">
    <div class="form-group clearfix">
      <label for="storage-select-1" class="col-xs-3 control-label"><%- trans('Выберите склад для перемещения') %></label>
      <div class="col-xs-4">
        <select class="form-control" id="storage-select-1">
          <option value="<%- trans('Все слады') %>"><%- trans('Все слады') %></option>
          <option value="<%- trans('Иматра') %>"><%- trans('Иматра') %></option>
          <option value="<%- trans('Лаппеенранта') %>"><%- trans('Лаппеенранта') %></option>
          <option value="<%- trans('Третий') %>"><%- trans('Третий') %></option>
        </select>
      </div>
      <div class="col-xs-5 text-right">
        <div class="btn-with-left-note">
          <strong class="text-muted" id="selected-count-wrap-1">
            <span id="selected-count-1">0</span><br><%- trans('посылок') %>
          </strong>
          <input type="submit" class="btn btn-primary" id="submit-btn-1" value="На выдачу" disabled>
        </div>
      </div>
    </div>
  </form>
  <br>

  <table class="table">
    <thead>
      <tr>
        <th><input type="checkbox" data-toggle-all=".js-parcel-checkbox:visible"></th>
        <th><%- trans('Номер посылки') %></th>
        <th><%- trans('Фамилия и имя') %></th>
        <th><%- trans('Куда') %></th>
      </tr>
    </thead>
    <tbody id="parcels-list-1">
      <tr>
        <td><input type="checkbox" class="js-parcel-checkbox"></td>
        <td>P3950621</td>
        <td>Petrov Oleg</td>
        <td><%- trans('Иматра') %></td>
      </tr>
      <tr>
        <td><input type="checkbox" class="js-parcel-checkbox"></td>
        <td>E3950662</td>
        <td>Eroshina Elena</td>
        <td><%- trans('Лаппеенранта') %></td>
      </tr>
      <tr>
        <td><input type="checkbox" class="js-parcel-checkbox"></td>
        <td>P3950639</td>
        <td>Pushkin Dmitriy</td>
        <td><%- trans('Иматра') %></td>
      </tr>
      <tr>
        <td><input type="checkbox" class="js-parcel-checkbox"></td>
        <td>G3950642</td>
        <td>Gorohov Kirill</td>
        <td><%- trans('Иматра') %></td>
      </tr>
    </tbody>
  </table>

  <% include includes/pagination %>

</div>

<script type="text/javascript">
  (function(){
    var selectedCount = 0;

    $('#selected-count-wrap-1').hide()

    function update() {
      $('#selected-count-1').text(selectedCount);
      $('#selected-count-wrap-1').toggle(selectedCount > 0)
      $('#submit-btn-1').prop('disabled', selectedCount === 0)
    }

    $('.js-parcel-checkbox').change(function(){
      if ($(this).is(':checked')) {
        selectedCount++;
      } else {
        selectedCount--;
      }
      update();
    });

    $('#storage-select-1').change(function(){
      var value = $(this).val();
      $('#parcels-list-1 tr').each(function() {
        $(this).toggle(value === 'Все слады' || $(this).text().indexOf(value) !== -1);
        if (!$(this).is(':visible')) {
          if ($('.js-parcel-checkbox', this).prop('checked')) {
            $('.js-parcel-checkbox', this).prop('checked', false).change();
          }
        }
      });
    });

  }())
</script>


<% include includes/layout/outro %>
