<% var TITLE = trans('Транзит #73') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/transit/header %>


<div class="container">

  <h3><%- trans('Отметьте посылки, которые не будут перемещены и завершите выдачу транзитных посылок.') %></h3>

  <ul>
    <li><%- trans('Распечатайте документы') %></li>
    <li><%- trans('Получите подписи экпедитора и расишитесь сами') %></li>
    <li><%- trans('Передайте необходимые документы экпедитор') %></li>
  </ul>

  <br>

  <table class="table">
    <thead>
      <tr>
        <th><input type="checkbox" data-toggle-all=".js-parcel-checkbox"></th>
        <th><%- trans('Номер посылки') %></th>
        <th><%- trans('Фамилия и имя') %></th>
        <th><%- trans('Куда') %></th>
      </tr>
    </thead>
    <tbody id="parcels-list-1">
      <tr>
        <td><input type="checkbox" class="js-parcel-checkbox"></td>
        <td>P3950621</td>
        <td>Petrov Oleg</td>
        <td><%- trans('Иматра') %></td>
      </tr>
      <tr>
        <td><input type="checkbox" class="js-parcel-checkbox"></td>
        <td>E3950662</td>
        <td>Eroshina Elena</td>
        <td><%- trans('Лаппеенранта') %></td>
      </tr>
      <tr>
        <td><input type="checkbox" class="js-parcel-checkbox"></td>
        <td>P3950639</td>
        <td>Pushkin Dmitriy</td>
        <td><%- trans('Иматра') %></td>
      </tr>
      <tr>
        <td><input type="checkbox" class="js-parcel-checkbox"></td>
        <td>G3950642</td>
        <td>Gorohov Kirill</td>
        <td><%- trans('Иматра') %></td>
      </tr>
    </tbody>
  </table>

  <br>

  <div class="collapse" id="printed-docs-1">
    <h4><%- trans('Были распечатаны') %></h4>
    <ol>
      <li><%- trans('Накладная') %></li>
      <li><%- trans('Путевой лист') %></li>
      <li><%- trans('Список посылок') %></li>
    </ol>
    <br><br>
  </div>

  <button class="btn btn-primary" data-toggle="collapse" data-target="#printed-docs-1"><%- trans('Распечатать документы') %></button>
  <a href="<%- pageUrl('transit-out-1') %>" class="btn btn-primary hidden" id="complete-btn"><%- trans('Завершить') %></a>
  <a href="<%- pageUrl('transit-out-1') %>" class="btn btn-default"><%- trans('Отменить транзит') %></a>

</div>

<script type="text/javascript">
  (function(){

    $('[data-target="#printed-docs-1"]').click(function(){
      $(this).hide();
      $('#complete-btn').removeClass('hidden');
    })

  }())
</script>


<% include includes/layout/outro %>
