<div class="container" style="min-width:1228px">


<?php
/** @var $this Tatva_Files_Block_Product_View  * */
$productId = $this->getRequest()->getParam('id');
$parcel = Mage::getModel('catalog/product')->load($productId);
require_once Mage::getModuleDir('controllers', 'Iwings_Pochta').DS.'BaseController.php';
$bundledItems = Iwings_Pochta_BaseController::getBundledData($parcel);

/** @var $customers Mage_Customer_Model_Resource_Customer_Collection */
$customers = Mage::getModel('customer/customer')->getCollection();
$customers
    ->addAttributeToSelect('suite')
    ->addFieldToFilter('suite', $parcel->getBoxSuiteNum());
$customer = $customers->getFirstItem();
$customer->load($customer->getId());
?>

<!--<div class="page-wrap">
<!-- / layout-intro -->

<?php if ($parcel->getStateCustom() == Mage::registry('state_custom_client_info_required')) : ?>
    <div class="action-requred-block">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <span class="action-requred-block__message">
                      Пожалуйста, заполните недостающую<br/>информацию о посылке
                    </span>

                    <div class="action-requred-block__secondary-text">
                        <p>Это необходимо для оформления транзитных документов, чтобы
                            мы как ваш таможенный агент могли забрать ваши посылки с финской
                            таможни.</p>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-2">
                    <a href="#declaration" class="btn btn-block btn-trans-white js-go-to-decl-btn">Заполнить</a>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>

<!-- %TODO AJAX: Здесь нужно будет сделать сохранение названия посылки через AJAX -->
<div class="parcel-name-block parcel-name-block--action-requred">
    <div class="container">
        <div class="editable-header js-transform-field">
            <h2 class="js-transform-field__text js-transform-field__text__wrap"><?php echo $parcel->getName(); ?></h2>
            <input class="js-transform-field__input text-input" name="parcel-name" id="parcel-name"
                   onblur="updateParcel('name', $('#parcel-name').val());" value="<?php echo $parcel->getName(); ?>"
                   type="text">
        </div>
    </div>
</div>


<div class="parcel-info parcel-info--single js-parcel-info" data-parcel-id="<?php echo $parcel->getId(); ?>">
    <script type="text/javascript">
        PARCEL_INFO = window.PARCEL_INFO || {};

        // Этот JSON формируется на сервере
        PARCEL_INFO["<?php echo $parcel->getId(); ?>"] = { // здесь id из data-parcel-id
            proxyPersons: [
                <?php
                 if ($parcel->getAttorneyFullName() != '')
                 {
                    $names = explode(',', $parcel->getAttorneyFullName());
                    $docs = explode(',', $parcel->getAttorneyDocNumber());

                    for ($ii = 0; $ii < count($names); $ii++) {
                        if (trim($names[$ii]) != '') {
                            echo '{ name: "' . trim($names[$ii]) . '", passport: "' . trim($docs[$ii]) . '" },';
                        }
                    }
                 }
                ?>
            ]
        }
    </script>

    <div class="container">
<!--        <h4><?php echo $parcel->getName(); ?></h4> -->

        <div class="row">
            <div class="col-3">
                <span class="parcel-info__label"><?php echo $this->__('Откуда') ?></span>
                <span class="parcel-info__value"><?php echo $parcel->getConsignorName(); ?></span>
            </div>
            <div class="col-2">
                <span class="parcel-info__label"><?php echo $this->__('Пункт выдачи') ?></span>
                <?php
                if ($parcel->getBoxStore() == Mage::registry('box_store_imatra') || $parcel->getBoxStore() == Mage::registry('box_store_lappeenranta')) {
                    $place = Mage::getResourceSingleton('catalog/product')->getAttribute('box_store')->getSource()->getOptionText($parcel->getBoxStore());
                } else {
                    $place = Mage::getResourceSingleton('customer/customer')->getAttribute('default_place')->getSource()->getOptionText($customer->getDefaultPlace());
                }
                ?>
                <span class="parcel-info__value"><?php echo $this->__($place); ?></span>
            </div>
            <div class="col-2">
                <span class="parcel-info__label"><?php echo $this->__('Доверенность') ?></span>
                <div class="parcel-info__value js-parcel-info__proxy" data-on-empty="<?php echo $this->__('Заберу сам') ?>"></div>
            </div>
            <?php if ($parcel->getPrice() > 0) : ?>
                <div class="col-2">

                    <span class="parcel-info__label"><?php echo $this->__('К оплате') ?></span>
                                    <span class="parcel-info__value">30% (€ <?php echo ceil($parcel->getPrice() / 100 * 30) ?>)
                                        <span class="icon icon-help popover__target js-popover-target">
                                            <div class="popover popover--for-round-icon js-popover">
                                                <div class="popover__content">
                                                    <?php echo $this->__('%TODO Застываение лавы сбрасывает батолит.skip-until-by') ?>
                                                </div>
                                            </div>
                                        </span>
                                        + € <?php echo Mage::helper('pochta')->getNonRefundableAmount($parcel); ?>
                                    </span>
                </div>
            <?php endif; ?>
        </div>

        <div class="row">
            <div class="col-3">
                <span class="parcel-info__label">Трекинг</span>
                <span class="parcel-info__value"><?php echo $parcel->getBoxOriginalTracking() != '' ? $parcel->getBoxOriginalTracking() : $parcel->getBoxTrackingNum(); ?></span>
            </div>
            <div class="col-2">
<!--                <a href="#TODO" class="btn btn-block btn-link"><span><?php echo $this->__('Изменить пункт выдачи') ?></span></a> -->
            </div>
            <div class="col-2">
                <button onclick="return saveAttorneyParcel(<?php echo $parcel->getId() ?>);" type="button" class="btn btn-block btn-link js-parcel-info__set-proxy">
                    <span class="js-parcel-info__set-proxy__text"
                          data-on-empty="<?php echo $this->__('Оформить доверенность') ?>"
                          data-on-full="<?php echo $this->__('Переоформить доверенность') ?>">
                    </span>
                </button>
            </div>
            <div class="col-2">

            </div>
        </div>
    </div>
</div>


<div class="declaration js-declaration" id="declaration">

<script type="text/javascript">


    // Этот JSON должен фомироваться на стороне сервера
    var DECLARATION_INITIAL_DATA = {

        defaultCurrency: {
            sign: '€',
            total: 3000
        },

        // Если используется евро, то в этом поле должен быть null (notDefaultCurrency: null)
        notDefaultCurrency: null,

        items: [<?php
         foreach ($bundledItems as $bundleItem) {
         echo '{ id: ' . $bundleItem->getId() . ', name: "'. $bundleItem->getName() .'", amount: ' . $bundleItem->getSelectionQty() .', price: ' . $bundleItem->getPrice() .', selection: ' . $bundleItem->getSelectionId() . ' },';
         }
        ?>]

    };


</script>

<div class="container">


<div class="declaration-info js-declaration__info">


    <div class="row-sub-7 js-declaration__info__item-template js-template">

        <input type="hidden" class="js-declaration__info__item__id" />
        <input type="hidden" class="js-declaration__info__item__selection" />

        <div class="col-3">
            <span class="declaration-info__val">
                <span class="js-declaration__info__item__name"></span>
            </span>
        </div>
        <div class="col-1">
            <span class="declaration-info__val">
                <span class="js-declaration__info__item__amount"></span> шт.
            </span>
        </div>
        <div class="col-1">
            <span class="declaration-info__val">
                <span class="js-declaration__info__item__currency"></span>
                <span class="js-declaration__info__item__price"></span>
            </span>
        </div>
        <div class="col-1">
            <span class="declaration-info__val">
                <span class="js-declaration__info__item__currency"></span>
                <span class="js-declaration__info__item__total-price"></span>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-7">
            <div class="row-sub-7">
                <div class="col-3">
                    <span class="declaration-info__title">Товары в вашей посылке</span>
                </div>
                <div class="col-1">
<!--
                    <span class="declaration-info__title">
                        <span class="js-declaration__info__total-amount">0</span> шт.
                    </span>
-->
                </div>
                <div class="col-1">
<!--
                    <span class="declaration-info__title">
                        <span class="js-declaration__info__currency-sign">€</span>
                        <span class="js-declaration__info__total-price">0</span>
                    </span>
-->
                </div>
                <div class="col-1">
<!--
                    <span class="declaration-info__title">
                        <span class="js-declaration__info__currency-sign">€</span>
                        <span class="js-declaration__info__total-price">0</span>
                    </span>
-->
                </div>
            </div>

            <div class="js-declaration__info__items-wrap"></div>

            <div class="row-sub-7">
                <div class="col-3">
                    <span class="declaration-info__title">всего</span>
                </div>
                <div class="col-1">
                    <span class="declaration-info__title">
                        <span class="js-declaration__info__total-amount">0</span> шт.
                    </span>
                </div>
                <div class="col-1">
                    <span class="declaration-info__title">
<!--                        <span class="js-declaration__info__currency-sign">€</span>
                        <span class="js-declaration__info__total-price">0</span> -->
                    </span>
                </div>
                <div class="col-1">
                    <span class="declaration-info__title">
                        <span class="js-declaration__info__currency-sign">€</span>
                        <span class="js-declaration__info__total-price">0</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-2">
            <?php if ($parcel->getStateCustom() == Mage::registry('state_custom_client_info_required') || $parcel->getStateCustom() == Mage::registry('state_custom_operator_info_required')) : ?>
            <button type="button" class="btn btn-block btn-trans-dark js-declaration__to-form">
                Редактировать
            </button>
            <?php endif;?>
        </div>
    </div>
</div>



<!-- %TODO AJAX: здесь нужно будет сделать сохранение через AJAX -->
<form class="declaration-form js-declaration__form" method="post" action="/pochta/ajax/saveParcelContent">
    <div class="row">
        <div class="col-3">
            <span class="declaration-info__title">Товары в вашей посылке</span>
        </div>
        <div class="col-2">
            <span class="declaration-info__title">
            <span class="js-declaration__form__total-amount">0</span> шт.</span>
        </div>
        <div class="col-2"></div>
        <div class="col-2">
            <span class="declaration-info__title">
                <span class="js-declaration__form__currency-sign">€</span>
                <span class="js-declaration__form__total-price">0</span>
                <span class="declaration__total-def-currency js-declaration__form__def-cur-wrap" style="display: none">декларируемая стоимость
                    <span class="js-declaration__form__currency-sign--def-cur">€</span>
                    <span class="js-declaration__form__total-price--def-cur">0</span>
                </span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <span class="declaration-form__label">Наименование
                <span class="icon icon-help popover__target js-popover-target">
                    <div class="popover popover--for-round-icon js-popover">
                        <div class="popover__content">Введите название товара так, как оно было указано в интернет-магазине.</div>
                    </div>
                </span>
            </span>
        </div>
        <div class="col-2">
            <span class="declaration-form__label">Количество, шт.</span>
        </div>
        <div class="col-2">
            <span class="declaration-form__label">Стоимость за штуку, <span class="js-declaration__form__currency-sign">€</span>
                <span class="icon icon-help popover__target js-popover-target">
                    <div class="popover popover--for-round-icon js-popover">
                        <div class="popover__content">Укажите стоимость каждого товара. Если вы заказали 10 одинаковых товаров и уплатили за них €150, то укажите 10 товаров по €15.</div>
                    </div>
                </span>
            </span>
        </div>
        <div class="col-2">
            <span class="declaration-form__label">Итого</span>
        </div>
    </div>

    <div class="row declaration-row js-template js-declaration__form__item-template">
        <input name="sproduct_id[]" class="js-number-field js-declaration__form__item__id text-input" type="hidden" />
        <input name="sproduct_selection[]" class="js-number-field js-declaration__form__item__selection text-input" type="hidden" />

        <div class="col-3">
            <div class="declaration-field">
                <div class="declaration-field__input">
                    <input name="sproduct_name[]" class="js-declaration__form__item__name text-input" type="text" />
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="declaration-field">
                <div class="declaration-field__input">
                    <input name="sproduct_qty[]" class="js-number-field js-declaration__form__item__amount text-input" data-positive-only="true" type="text" />
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="declaration-field">
                <div class="declaration-field__input declaration-field__input--price">
                    <input name="sproduct_user_price[]" class="js-number-field js-declaration__form__item__price text-input" data-allow-float="true" data-float-fixed="2" type="text" />
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="declaration-row-ctrls">
                <div class="declaration-row-ctrls__total">
                    <span class="js-declaration__form__item__currency"></span>
                    <span class="js-declaration__form__item__total"></span>
                </div>
                <button type="button" class="declaration-row-ctrls__remove js-declaration__form__item__remove" data-confirm="Вы уверены что хотите удалить эту позицию?"></button>
                <div class="declaration-row-ctrls__is-complete"></div>
            </div>
        </div>
    </div>

    <div class="js-declaration__form__items-wrap"></div>

    <div class="row">
        <div class="col-7"></div>
        <div class="col-2">
            <div class="declaration__total-mismatch js-declaration__form__mismathc-more" style="display: none">Сумма стоимостей посылок не может превышать задекларированной стоимости в
                <span class="js-declaration__form__currency-sign">€</span>
                <span class="js-declaration__form__total-price">0</span>
            </div>
            <div class="declaration__total-mismatch js-declaration__form__mismathc-less" style="display: none">Сумма стоимостей посылок должна совпадать с задекларированной стоимостью в
                <span class="js-declaration__form__currency-sign">€</span>
                <span class="js-declaration__form__total-price">0</span>
            </div>
            <span class="btn btn-block btn-blue btn-disabled js-declaration__to-info-dis" style="display:none">Закончить </span>
            <a href="" class="btn btn-block btn-blue js-declaration__to-info" onclick="return saveParcelContent($(this));">Закончить</a>
        </div>
    </div>
</form>



</div>
</div>


<div style="height: 350px; max-height: none;" class="height-limit js-height-limit">
    <div class="height-limit__content js-height-limit__content">
        <div class="parcel-full-info">
            <div class="container">
                <h2>Дополнительная информация о посылке (обновляется по мере поступления информации)</h2>

                <div class="row">
                    <div class="col-2">
                        <span class="parcel-full-info__label">Кому</span>
                        <span class="parcel-full-info__value"><?php echo $parcel->getConsigneeName() ?></span>
                    </div>
                    <div class="col-1">
                        <span class="parcel-full-info__label">Длина</span>
                        <span class="parcel-full-info__value"><?php echo $parcel->getBoxLength(); ?> см</span>
                    </div>
                    <div class="col-1">
                        <span class="parcel-full-info__label">Ширина</span>
                        <span class="parcel-full-info__value"><?php echo $parcel->getBoxWidth(); ?> см</span>
                    </div>
                    <div class="col-1">
                        <span class="parcel-full-info__label">Высота</span>
                        <span class="parcel-full-info__value"><?php echo $parcel->getBoxHeight(); ?> см</span>
                    </div>
                    <div class="col-1">
                        <span class="parcel-full-info__label">Вес</span>
                        <span class="parcel-full-info__value"><?php echo $parcel->getWeight(); ?> кг</span>
                    </div>
                </div>
<!--
                <div class="row">
                    <div class="col-2">
                        <span class="parcel-full-info__label">Тип</span>
                        <span class="parcel-full-info__value">Коммерческий образец</span>
                    </div>
                    <div class="col-2">
                        <span class="parcel-full-info__label">Статус посылки</span>
                        <span class="parcel-full-info__value">Ценная</span>
                    </div>
                    <div class="col-2">
                        <span class="parcel-full-info__label">Декларируемая стоимость</span>
                        <span class="parcel-full-info__value">€ 2800</span>
                    </div>
                </div>
-->
                <div class="row">
                    <div class="col-2">
                        <span class="parcel-full-info__label">Отправитель</span>
                        <span class="parcel-full-info__value"><?php echo $parcel->getConsignorName(); ?></span>
                    </div>
                    <div class="col-2">
                        <span class="parcel-full-info__label">Дата отправления</span>
                        <span class="parcel-full-info__value"><?php echo date('Y-m-d', strtotime($parcel->getCreatedAt())); ?></span>
                    </div>
                    <div class="col-2">
                        <span class="parcel-full-info__label">Откуда</span>
<?php $address = $parcel->getConsignorAddressLine();
if (!empty($address) && !empty($parcel->getConsignorAddressCity())) {
    $address .= ', ' . $parcel->getConsignorAddressCity();
}
if (!empty($address) && !empty($parcel->getConsignorAddressCountry())) {
    $address .= ', ' . $parcel->getConsignorAddressCountry();
}
?>
                        <span class="parcel-full-info__value"><?php echo $address; ?></span>
                    </div>
                </div>
<!--
                <div class="row">
                    <div class="col-2">
                        <span class="parcel-full-info__label">Тип посылки</span>
                        <span class="parcel-full-info__value"><?php echo $this->__(Mage::getResourceSingleton('catalog/product')->getAttribute('box_origin')->getSource()->getOptionText($parcel->getBoxOrigin())); ?></span>
                    </div>
                </div>
-->
                <div class="row">
                    <div class="col-8">
                        <span class="parcel-full-info__label">Фотографии со склада</span>


                        <?php if (count($parcel->getMediaGalleryImages()) > 0): ?>
                            <div class="row-sub-8">
                                <?php foreach ($parcel->getMediaGalleryImages() as $_image): ?>
                                    <div class="col-2">
                                        <a href="<?php echo $_image->getUrl(); ?>" data-lightbox="photos-from-storage">
                                            <img src="<?php echo $_image->getUrl(); ?>"
                                                 class="parcel-full-info__photo-prev"/>
                                        </a>
                                    </div>
                                <?php endforeach; ?>
                            </div>
                        <?php endif; ?>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="height-limit__overlay js-height-limit__overlay"></div>
</div>

<script type="text/javascript">

    function updateParcel(field, value, validation_field) {
<?php if ($productId) : ?>
        $.ajax({
            url: '/pochta/ajax/updateParcel',
            data: {
                "parcelId": <?php echo $productId; // $this->getParcel()->getId() ?>,
                "field": field,
                "value": value
            },
            type: 'post',
            success: function (data) {
//                alert('sucsess');
            }
        });
<?php else: ?>
        <?php Mage::log("updateParcel: productId is null", Zend_log::EMERG); ?>
<?php endif; ?>
    }

    function saveParcelContent(item) {
        $('.action-requred-block').hide();

        var form = item.closest('form');
        var form_data = form.serialize();

        form_data = 'parcelId=<?php echo $productId; ?>&' + form_data;

        $.ajax({
            url: '/pochta/ajax/saveParcelContent',
            data: form_data,
            type: 'post',
            success: function (data) {
//                $('.action-requred-block').hide();
//                alert('sucsess');
            }
        });

        return false;

    }



</script>


</div>


<?php require_once __DIR__ . "/../dashboard/attorney.phtml" ?>