.alt-bg-1
  background #ffffff

// .sticky-footer
//   position fixed
//   left 0
//   bottom 0
//   width 100%
//   height auto
//   &__wrap
//     min-height 100%
//     position relative
//     padding-bottom 214px // пока для частного случая





.suite-header
  background #F1F0EF
  padding-top 50px
  padding-bottom 30px
  h2
    setFont(35, 42, 600)
    margin-bottom 24px
  &__suite
    setFont(40, 48, 700)
    small
      setFont(27, 32, 400, 12)
      text-transform uppercase
      color #969495




.parcel-list
  &__head
    padding-top 36px
    padding-bottom 33px
    border-bottom solid 1px #A2A2A3
    h3
      setFont(30, 36, 700)
    img
      display block
      margin-top 12px




.parcel-item
  display block
  cursor pointer
  border-bottom solid 1px #CAC9CA
  padding-top 27px
  padding-bottom 22px
  user-select none
  &__name
    setFont(25, 26, 600)
    display block
    margin-bottom 16px
  &__meta
    &__label,
    &__value
      display block
    &__label
      setFont(13, 15, 400, 12)
      color #969495
      text-transform uppercase
      margin-bottom 4px
    &__value
      setFont(25, 26, 200)
      ellipsis()
      strong
        font-weight 600
  .checkbox
    margin-top 18px





.checkbox
  input
    opacity 0
    position absolute
  &__ui
    display block
    width 42px
    height @width
    border solid 1px #969495
    input:disabled + &
      border-color #f1f0ef
    input:checked + &
      border none
      background #ff592e url(../images/icons/check.svg) no-repeat
      background-size 29px 25px
      background-position center
    input:disabled:checked + &
      background-color #f1f0ef




.suite-footer
  &,
  &__placeholder
    height 214px
  position fixed
  width 100%
  left 0
  bottom 0
  background #f1f0ef
  padding-top 30px
  padding-bottom 24px
  &__parts
    text-align center
    margin-bottom 24px
    li
      setFont(25, 30, 200)
      text-transform uppercase
      margin 0 9px
      strong
        font-weight 700
  .btn
    margin-bottom 18px

// .parcel-pay-btn,
.is-some-selected
  // .parcel-disabled-btn,
  .suite-disabled-btn
    display none

// .parcel-next-btn,
.suite-next-btn
  display none
  .is-some-selected &
    display block

.in-local-currency
  setFont(13, 15, 400, 12)
  color #969495
  text-align center
  text-transform uppercase
  visibility hidden
  .isnt-all-paid &
    visibility visible

.kiosk-total-deposit
  display inline-block
  .no-deposit &
    display none

.kiosk-total-service
  display inline-block
  .no-service &
    display none

.kiosk-total
  display inline-block
  .no-total &
    display none




.parcel-header
  background #f1f0ef
  padding-top 47px
  padding-bottom 22px
  // h2
  //   setFont(35, 42, 600)
  //   margin-bottom 50px
  &__parcel
    ellipsis()
    setFont(40, 48, 700)
    margin-bottom 21px
    small
      setFont(27, 32, 400, 12)
      text-transform uppercase
      color #969495
      // display block
      // margin-bottom 13px
  &__parcel-meta
    margin-bottom 25px
    &__label,
    &__value
      display block
    &__label
      setFont(13, 15, 400, 12)
      color #969495
      text-transform uppercase
      margin-bottom 4px
    &__value
      setFont(25, 26, 200)
      ellipsis()
      strong
        font-weight 600
  // .btn
  //   margin-bottom 18px








.success-title
  padding-top 40px
  margin-bottom 100px
  img
    margin-bottom 22px
  h2
    setFont(40, 48, 600)

.success-text
  margin-bottom 150px
  p
    setFont(30, 36, 600)
    margin-bottom 36px





.payment-form
  position relative
  height 333px
  margin-bottom 73px
  &__code-wrap,
  &__main-wrap
    position absolute
    height 100%
    width 523px
    border-radius 23px
    top 0
  &__code-wrap
    right 0
    background #cac9ca
    padding-top 35px
    padding-left 374px
    &:before
      content ''
      display block
      height 75px
      background #464547
      margin-bottom 37px
  &__main-wrap
    left 0
    background #f1f0ef
    padding 30px 0 0 34px
    z-index 1
  label
    setFont(13, 15, 400, 12)
    color #969495
    text-transform uppercase
    display block
  .form-control
    setFont(23, 25, 700)
    padding 2px 0
    margin-bottom 10px
    display inline-block
  &__code
    background #ffffff
    padding 16px 26px 17px
    display inline-block
    input
      width 60px
  &__title
    setFont(40, 48, 600)
    text-transform uppercase
    margin-bottom 17px
  &__number
    margin-bottom 18px
    input
      width 300px
  &__date
    margin-bottom 18px
    input
      width 35px
    &__delimetr
      setFont(26, 26, 200)
      color #969495
      vertical-align top
      display inline-block
      margin 4px 10px 0 15px
  &__ovner
    input
      width 450px




.payment-header
  margin-top 50px
  margin-bottom 60px
  &--with-error
    margin-bottom 10px
  h2
    setFont(40, 48, 600)




.payment-bottom
  margin-bottom 50px
  .btn
    margin-bottom 13px
  .in-local-currency
    visibility visible
  &__note
    setFont(19, 23, 700)
    padding-left 13px
    padding-top 4px
    strong
      color #0000ff




.payment-error
  p
    setFont(20, 25, 600, 5)
    color #FF0B15
    margin-bottom 25px
