    <div class="header">
        <div class="container">
            <div class="header__left">
                <a href ="<?php echo $this->getUrl('') ?>" class="header__logo">
                    <img src="<?php echo $this->getSkinUrl('images/illustrations/logo.svg') ?>" />
                </a>
            </div>
            <div class="header__right">
                <?php echo $this->getChildHtml('store_language') ?>
            </div>
        </div>
    </div>