  <!-- С сообщением сколько вернется -->
  <div class="parcel-info js-parcel-info" data-parcel-id="8">
    <script type="text/javascript">
      PARCEL_INFO = window.PARCEL_INFO || {};

      // Этот JSON формируется на сервере
      PARCEL_INFO["8"] = { // здесь id из data-parcel-id
        proxyPersons: []
      }
    </script>

    <div class="container">
      <h4>1Z6R646E0319931451</h4>
      <div class="row">
        <div class="col-3">
          <span class="parcel-info__label"><%- trans('Откуда') %></span>
          <span class="parcel-info__value">welovetheshoppingtime.co.uk</span>
        </div>
        <div class="col-2">
          <span class="parcel-info__label"><%- trans('Пункт выдачи') %></span>
          <span class="parcel-info__value">Nuijamaa<br>Брусничное</span>
        </div>
        <div class="col-2">
          <span class="parcel-info__label"><%- trans('Довереность') %></span>
          <div
            class="parcel-info__value js-parcel-info__proxy"
            data-on-empty="<%- trans('Заберу сам') %>"
          ></div>
        </div>
        <div class="col-2">
          <span class="parcel-info__label"><span class="icon icon-ok"></span></span>
          <span class="parcel-info__value">
            <strong>€ 20</strong><%- trans(' — мы вернем вам эту сумму, когда вы заберете посылку и пересечете границу') %>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <a href="#TODO" class="btn btn-block btn-link"><span><%- trans('Подробнее о посылке') %></span></a>
        </div>
        <div class="col-2">
          <a href="#TODO" class="btn btn-block btn-link"><span><%- trans('Изменить пункт выдачи') %></span></a>
        </div>
        <div class="col-2">
          <button
            type="button"
            class="btn btn-block btn-link js-parcel-info__set-proxy"
          >
            <span
              class="js-parcel-info__set-proxy__text"
              data-on-empty="<%- trans('Оформить доверенность') %>"
              data-on-full="<%- trans('Переоформить доверенность') %>"
            ></span>
          </button>
        </div>
        <div class="col-2">
        </div>
      </div>
    </div>
  </div>
