<% include _inc/layout/intro %>

<% include _inc/headers/parcel %>


<div class="payment-success">

  <div class="container">
    <h2><%- trans('Оплата прошла успешно.<br>Ваши посылки ждут вас!') %></h2>
  </div>

  <div class="payment-success__block">
    <div class="payment-success__block__head">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <h3><%- trans('Иматра') %></h3>
          </div>
          <div class="col-3">
            <a href="#TODO"><%- trans('подробная карта проезда') %></a>
          </div>
        </div>
      </div>
    </div>
    <div class="payment-success__block__parcels parcels-list--ready">

<% include _inc/parcel-items/4.ejs %>

    </div>
  </div>

  <div class="payment-success__block">
    <div class="payment-success__block__head">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <h3><%- trans('Лаппеенранта') %></h3>
          </div>
          <div class="col-3">
            <a href="#TODO"><%- trans('подробная карта проезда') %></a>
          </div>
        </div>
      </div>
    </div>
    <div class="payment-success__block__parcels parcels-list--ready">

<% include _inc/parcel-items/8.ejs %>

    </div>
  </div>

  <div class="payment-success__bottom">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <a href="#TODO" class="btn btn-block btn-blue">
            <%- trans('Вернуться к списку всех ваших посылок') %>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>


<% include _inc/proxy-person-modal %>


<% include _inc/footer %>
<% include _inc/layout/outro %>
