+placeholder()
  color #a9a9a9
  font-weight 200




.btn
  btn-font-size = 18
  setFont(btn-font-size, 22, 600)
  color #ffffff
  display inline-block
  height px2em(45,btn-font-size)
  text-align center
  padding px2em(12,btn-font-size) px2em(16,btn-font-size) px2em(11,btn-font-size)
  background transparent
  border none
  &:hover
    opacity .8
    cursor pointer
  &-block
    display block
    width 100%
  &-blue
    background #0000ff
  &-orange
    background #ff592e
  &-black
    background #464547
  &-danger
    background #fb0000
  &-link
    font-size px2em(14,btn-font-size)
    line-height px2em(17,14)
    font-weight 400
    &, &.btn-disabled
      color #464547
    text-align left
    padding px2em(14,14) 0
    span
      border-bottom solid 1px
  &-trans, &-trans-dark, &-trans-white
    border 1px solid
    padding px2em(11,btn-font-size) px2em(15,btn-font-size) px2em(10,btn-font-size)
  &-trans
    &, &.btn-disabled
      color #969495
    border-color #a2a2a3
  &-trans-dark
    &, &.btn-disabled
      color #464547
    border-color #464547
  &-trans-white
    &, &.btn-disabled
      color #ffffff
    border-color #ffffff
    &:hover
      opacity .9
  &-disabled, &:disabled
    color rgba(255, 255, 255, .3)
    opacity .3
    &:hover
      opacity .3
    cursor default
    .popover__target &
      cursor pointer




.large-form
  .form-group
    margin-bottom px2em(25)
  [type="text"], [type="password"], &__btn
    setFont(25, 30)
    display block
    padding px2em(39,25) px2em(55,25) px2em(36,25)
    width 100%
  [type="text"], [type="password"]
    border solid 1px #e5e4e2
    font-weight 600
    &:focus
      border-color #7FA1FC
      outline none
  &__btn
    background #ff592e
    border none
    font-weight 700
    color #ffffff
    text-align center
    cursor pointer
    &:hover
      opacity .8
  .form-error
    color #ff0000
    font-size px2em(14)
    line-height px2em(15)
    margin-top px2em(10)




.text-input
  margin 0
  padding 0
  margin-bottom -1px
  background transparent
  box-shadow none
  border none
  border-bottom solid 1px #969495
  width 100%


.landing-registration__email,
.text-input
  .has-error &
    border-color #ff1200
  &:focus
    outline none
    border-color #0000FF



.oauth
  p
    setFont(14, 15)
  ul
    clearfix()
    margin-right px2em(-20)
    li
      display block
      float left
      width px2em(120)
      margin-right px2em(20)
  &__btn
    setFont(10, 12, 600)
    border none
    display block
    cursor pointer
    width 100%
    text-align center
    color #ffffff
    padding px2em(11,10) 0 px2em(10,10)
    background-repeat no-repeat
    background-position px2em(12,10) 50%
    background-color #464547
    &:hover
      opacity .8
  &__vk &__btn
    background-image url(../images/icons/vk.svg)
    background-size px2em(10,10) px2em(10,10)
  &__odnoklassniki &__btn
    background-image url(../images/icons/odnoklassniki.svg)
    background-size px2em(10,10) px2em(15,10)
    padding-left px2em(15,10)
  &__facebook &__btn
    background-image url(../images/icons/facebook.svg)
    background-size px2em(6,10) px2em(15,10)




.editable-header
  h2, input
    setFont(30, 34, 600)
  h2
    display inline-block
    cursor pointer
    &:after
      content ''
      display inline-block
      width px2em(17)
      height px2em(18)
      background url(../images/icons/edit.svg)
      background-position 50% 100%
      background-repeat no-repeat
      margin-left .6em
  input
    display none
    width px2em(500)
  &.edit-mode
    h2
      display none
    input
      display block
  &--disabled
    h2
      cursor text
      &:after
        display none



.radio, .checkbox
  display inline-block
  position relative
  input
    position absolute
    opacity 0
  &__ui
    width px2em(32)
    height @width
    background #FFF
    .settings-block--alt-bg &
      background #F1F1EF

.radio
  &__ui
    border-radius px2em(100)
    display block
    padding px2em(5)
    input:checked + &
      &:before
        content ''
        display block
        background #ff592e
        width px2em(22)
        height @width
        border-radius px2em(100)
  &--bigger
    .radio__ui
      background #f1f1ef
      width px2em(48)
      height px2em(48)
      border px2em(8) solid #ffffff
    input:checked + .radio__ui
      border-color #f1f1ef

.checkbox
  &__ui
    input:checked + &
      background #ff592e url(../images/icons/check.svg) no-repeat
      background-size px2em(21) px2em(18)
      background-position center

.is-disabled
  cursor default !important


.is-disabled .radio__ui,
.is-disabled .checkbox__ui,
input:disabled + .radio__ui,
input:disabled + .checkbox__ui,
.is-disabled + .radio__ui,
.is-disabled + .checkbox__ui
  opacity .6



.input-group
  position relative
  display table
  border-collapse separate
  width 100%
  .text-input, &__addon
    display table-cell



.form-global-errors li,
.form-field-error
  setFont(14, 17, 400, 13)
  color #ff1200
  background url(../images/icons/error-small.svg) no-repeat
  padding-left px2em(20,14)

.form-field-error
  margin-bottom px2em(15)

.form-global-errors
  h2 + &,
  h3 + &
    margin-top px2em(-20)
  margin-bottom px2em(20)

.settings-block
  .form-global-errors
    margin 0

.auth-modal
  .form-global-errors
    margin-top px2em(-40)

.default-form
  .form-group
    overflow hidden
    margin-bottom px2em(40)
  .text-input
    setFont(24, 28)
    padding px2em(2,24) 0
    margin-bottom px2em(12,24)

