.js-template
  display none



.height-limit
  overflow hidden
  position relative
  max-height px2em(350)
  transition all 1s
  &__overlay
    position absolute
    bottom 0
    right 0
    left 0
    top 0
    background url(../images/helpers/fade-grad.png) repeat-x 100% 100%
    background linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 85%, #ffffff 100%)
    cursor pointer
    transition all 1s
