<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">
        P3950621, P3950643, P3950662 (Oleg Petrov, <a href="<%- pageUrl('storage-suite') %>">31337</a>)
      </span>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%- pageUrl('log-parcel') %>"><%- trans('История действий') %></a></li>
        <li><a href="<%- pageUrl('storage-list') %>"><%- trans('Назад') %></a></li>
      </ul>
    </div>

  </div>
</nav>
