<div class="container">
    <br>

    <div class="row">
        <div class="col-sm-4">
            <a class="thumbnail thumbnail-link"
               href="<?php echo $this->getUrl("pochta/takeout/search") ?>"
                ><?php echo $this->__("Новая выдача") ?></a>
        </div>

        <div class="col-sm-4">
            <a class="thumbnail thumbnail-link"
               href="<?php echo $this->getUrl("pochta/issuance/buildList") ?>"
                ><?php echo $this->__("Список на сборку") ?></a>
        </div>

        <div class="col-sm-4">
            <a class="thumbnail thumbnail-link"
               href="<?php echo $this->getUrl("pochta/issuance/list") ?>"
                ><?php echo $this->__("Список на выдачу") ?></a>
        </div>

        <div class="col-sm-4">
            <a class="thumbnail thumbnail-link"
               href="<?php echo $this->getUrl("pochta/issuance/issuedList") ?>"
                ><?php echo $this->__("Список выданных") ?></a>
        </div>
    </div>
</div>