<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:history.go(-1)"><?php echo $this->__("Назад") ?></a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="container">

  <div class="alert alert-info">
    <?php echo $this->__("Выдайте клиенту посылку и все документы. Завершите выдачу.") ?>
  </div>

  <hr>
  <a href="<?php echo $this->getUrl("pochta/takeout/nextIssuance") ?>" class="btn btn-primary js-bottom-btn"><?php echo $this->__("Следующая выдача") ?></a>
  <a href="<?php echo $this->getUrl("pochta/takeout/endIssuance") ?>" class="btn btn-default js-bottom-btn"><?php echo $this->__("Завершить выдачу") ?></a>

</div>