<?php
/** @var $this Mage_Customer_Block_Account_Dashboard */
$customer = $this->getCustomer();
$isFirstShow = $customer->getFirstShow();
if ($isFirstShow) {
    $customer->setFirstShow(false);
    $customer->save();
}
?>

<?php
if ($isFirstShow): ?>
    <div class="dash-big-alert">
        <div class="container">
            <p>
                <?php echo $this->__('Спасибо за регистрацию!'); ?><br/>
                <?php echo $this->__('Вы можете заказывать товары из любых интернет-магазинов мира.') ?><br/>
            </p>
        </div>
    </div>
<?php endif; ?>

<div id="dashboard-accordion">
<div class="address-info dashboard-row">
    <div class="dashboard-row--header-bg"></div>
    <div class="container">
        <h2 class="dashboard-row__header">
          <?php echo $this->__('Ваши адреса для покупок по всему миру') ?>
          <i><img src="<?php echo $this->getSkinUrl('images/icons/dashboard-arrow.svg') ?>" /></i>
        </h2>
        <div class="dashboard-row__content">
        <?php
            $suitePrefix = Mage::getModel('core/variable')
                ->setStoreId(Mage::app()->getStore()->getId())
                ->loadByCode('suite_prefix')
                ->getValue('text');
        ?>

        <div class="dashboard-row__tab-wrap col-4">
            <h3><?php echo $this->__('Для заказа товаров из США и Канады') ?></h3>
            <p>Этот адрес позволяет совершать покупки в интернет-магазинах США И Канады, которые не оформляют доставку за пределы своих стран. Пользуясь им, вы существенно экономите на доставке.</p>
            <div class="row dashboard-row__prop">
                <span class="col-1 dashboard-row__prop__name"><?php echo $this->__('Address') ?></span>
        <span class="col-8 dashboard-row__prop__value">
          Pochta.fi, 8912 NE Alderwood Road, Suite <?php echo $suitePrefix ?><?php echo $this->getCustomer()->getSuite() ?>
          <button
              class="dashboard-row__prop__value__copy copy-address"
              data-clipboard-text="Pochta.fi, 8912 NE Alderwood Road, Suite <?php echo $suitePrefix ?><?php echo $this->getCustomer()->getSuite() ?>"
              data-alt-text="<?php echo $this->__('Скопировано') ?>"
              ><?php echo $this->__('Скопировать адрес') ?></button>
        </span>
            </div>
            <div class="row dashboard-row__prop">
                <span class="col-1 dashboard-row__prop__name"><?php echo $this->__('Phone') ?></span>
        <span class="col-8 dashboard-row__prop__value">
          +1 503 808 7148
          <button
              class="dashboard-row__prop__value__copy"
              data-clipboard-text="+15038087148"
              data-alt-text="<?php echo $this->__('Скопировано') ?>"
              ><?php echo $this->__('Скопировать телефон') ?></button>
        </span>
            </div>
            <div class="row dashboard-row__prop">
                <span class="col-1 dashboard-row__prop__name"><?php echo $this->__('State') ?></span>
        <span class="col-8 dashboard-row__prop__value">
          Oregon
          <button
              class="dashboard-row__prop__value__copy"
              data-clipboard-text="Oregon"
              data-alt-text="<?php echo $this->__('Скопировано') ?>"
              ><?php echo $this->__('Скопировать штат') ?></button>
        </span>
            </div>
            <div class="row dashboard-row__prop">
                <span class="col-1 dashboard-row__prop__name"><?php echo $this->__('City') ?></span>
        <span class="col-8 dashboard-row__prop__value">
          Portland
          <button
              class="dashboard-row__prop__value__copy"
              data-clipboard-text="Portland"
              data-alt-text="<?php echo $this->__('Скопировано') ?>"
              ><?php echo $this->__('Скопировать город') ?></button>
        </span>
            </div>
            <div class="row dashboard-row__prop">
                <span class="col-1 dashboard-row__prop__name"><?php echo $this->__('Zip code') ?></span>
        <span class="col-8 dashboard-row__prop__value">
          97220
          <button
              class="dashboard-row__prop__value__copy"
              data-clipboard-text="97220"
              data-alt-text="<?php echo $this->__('Скопировано') ?>"
              ><?php echo $this->__('Скопировать индекс') ?></button>
        </span>
            </div>
            <div class="row dashboard-row__prop">
                <span class="col-1 dashboard-row__prop__name"><?php echo $this->__('Country') ?></span>
        <span class="col-8 dashboard-row__prop__value">
          USA
          <button
              class="dashboard-row__prop__value__copy"
              data-clipboard-text="USA"
              data-alt-text="<?php echo $this->__('Скопировано') ?>"
              ><?php echo $this->__('Скопировать страну') ?></button>
        </span>
            </div>
        </div>
         <div class="dashboard-row__tab-wrap col-4">
            <h3><?php echo $this->__('Для заказа товаров из других стран') ?></h3>
            <p>Этот адрес подходит для заказа товаров из остальных стран мира.</p>
            <div class="row dashboard-row__prop">
                <span class="col-1 dashboard-row__prop__name"><?php echo $this->__('Address') ?></span>
        <span class="col-8 dashboard-row__prop__value">
          Pochta.fi, Pelkolankatu 5, Suite <?php echo $suitePrefix ?><?php echo $this->getCustomer()->getSuite() ?>
          <button
              class="dashboard-row__prop__value__copy copy-address"
              data-clipboard-text="Pochta.fi, Pelkolankatu, 5 Suite <?php echo $suitePrefix ?><?php echo $this->getCustomer()->getSuite() ?>"
              data-alt-text="<?php echo $this->__('Скопировано') ?>"
              ><?php echo $this->__('Скопировать адрес') ?></button>
        </span>
            </div>
            <div class="row dashboard-row__prop">
                <span class="col-1 dashboard-row__prop__name"><?php echo $this->__('Phone') ?></span>
        <span class="col-8 dashboard-row__prop__value">
          +358 45 6058890
          <button
              class="dashboard-row__prop__value__copy"
              data-clipboard-text="+358456058890"
              data-alt-text="<?php echo $this->__('Скопировано') ?>"
              ><?php echo $this->__('Скопировать телефон') ?></button>
        </span>
            </div>
            <div class="row dashboard-row__prop">
                <span class="col-1 dashboard-row__prop__name"><?php echo $this->__('City') ?></span>
        <span class="col-8 dashboard-row__prop__value">
          Lappeenranta
          <button
              class="dashboard-row__prop__value__copy"
              data-clipboard-text="Lappeenranta"
              data-alt-text="<?php echo $this->__('Скопировано') ?>"
              ><?php echo $this->__('Скопировать город') ?></button>
        </span>
            </div>
            <div class="row dashboard-row__prop">
                <span class="col-1 dashboard-row__prop__name"><?php echo $this->__('Zip code') ?></span>
        <span class="col-8 dashboard-row__prop__value">
          53420
          <button
              class="dashboard-row__prop__value__copy"
              data-clipboard-text="53420"
              data-alt-text="<?php echo $this->__('Скопировано') ?>"
              ><?php echo $this->__('Скопировать индекс') ?></button>
        </span>
            </div>
            <div class="row dashboard-row__prop">
                <span class="col-1 dashboard-row__prop__name"><?php echo $this->__('Country') ?></span>
        <span class="col-8 dashboard-row__prop__value">
          FINLAND
          <button
              class="dashboard-row__prop__value__copy"
              data-clipboard-text="FINLAND"
              data-alt-text="<?php echo $this->__('Скопировано') ?>"
              ><?php echo $this->__('Скопировать страну') ?></button>
        </span>
            </div>
        </div>
      </div>
    </div>
</div>
<div class="storage-select dashboard-row<?php echo $isFirstShow ? '' : ' collapsed'?>">
    <div class="dashboard-row--header-bg"></div>
    <div class="container">
      <h2 class="dashboard-row__header">
        <?php echo $this->__('Пункты выдачи посылок') ?>
        <i><img src="<?php echo $this->getSkinUrl('images/icons/dashboard-arrow.svg') ?>" /></i>
      </h2>
      <div class="dashboard-row__content"<?php echo $isFirstShow ? '' : ' style="display: none"'?>>
        <p>Выберите удобный пункт выдачи посылок. Вы всегда сможете <br/>его изменить в <a class="border-link" href="/customer/account/edit">настройках</a> или выборочно переместить посылку.</p>

        <div class="take-left-gap col-4">
          <div class="storage-select-block">
            <label>
              <div class="radio">
                <input type="radio" name="tmp1" <?php echo ($this->getCustomer()->getDefaultPlace() == Mage::registry('customer_default_place_lapa') ? 'checked' : ''); ?> onclick="updateCustomer('default_place', <?php echo Mage::registry('customer_default_place_lapa') ?>)" />
                <div class="radio__ui"></div>
              </div>
              <div class="storage-select-block__container">
                <div class="storage-select-block__info col-4">
                  <div class="storage-select-block__name">
                    <?php echo $this->__('Лаппеенранта') ?>
                  </div>
                  <div class="storage-select-block__address"><?php echo $this->__('Pelkolankatu 5 53420') ?></div>
                  <div class="storage-full-info__distance2">
                    <div class="storage-full-info__distance2__item"><img src="/skin/frontend/pochta/default/images/icons/car.svg" alt="" /> <strong>15</strong> км</div>
                    <div class="storage-full-info__distance2__item"><img src="/skin/frontend/pochta/default/images/icons/time-short.svg" alt="" /> <strong>15</strong> мин</div>
                  </div>
                </div>
                <div class="storage-select-block__map col-4">
                  <a class="storage-select-block__map" href="/office-nuijamaa">
                    <img src="/skin/frontend/pochta/default/images/illustrations/white-map-2.png" alt="" />
                  </a>
                </div>
              </div>
            </label>

          </div>
        </div>
        <div class="col-4">
            <div class="storage-select-block">
                <label>
                    <div class="radio">
                        <input type="radio" name="tmp1" <?php echo ($this->getCustomer()->getDefaultPlace() == Mage::registry('customer_default_place_imatra') ? 'checked' : ''); ?> onclick="updateCustomer('default_place', <?php echo Mage::registry('customer_default_place_imatra') ?>)" />

                        <div class="radio__ui"></div>
                    </div>
                    <div class="storage-select-block__container">
                      <div class="storage-select-block__info col-4">
                          <div class="storage-select-block__name">
                            <?php echo $this->__('Иматра') ?>
                          </div>
                          <div class="storage-select-block__address"><?php echo $this->__('Kultakuusenkuja 4 55610') ?></div>
                          <div class="storage-full-info__distance2">
                            <div class="storage-full-info__distance2__item"><img src="/skin/frontend/pochta/default/images/icons/car.svg" alt="" /> <strong>3</strong> км</div>
                            <div class="storage-full-info__distance2__item"><img src="/skin/frontend/pochta/default/images/icons/time-short.svg" alt="" /> <strong>5</strong> мин</div>
                          </div>
                      </div>
                      <div class="storage-select-block__map col-4">
                        <a class="storage-select-block__map" href="/office-imatra">
                          <img src="/skin/frontend/pochta/default/images/illustrations/white-map-1.png" alt="" />
                        </a>
                      </div>
                    </div>
                </label>

            </div>
        </div>
      </div>
    </div>
</div>
</div>

<?php

// NOTE: index is ignored in following arrays and serves only to allow duplicate keys in AND sql clause
$infoRequiredFilter = array(
    0 => array('state_physical' => Mage::registry('state_physical_good')),
    1 => array('state_custom' => Mage::registry('state_custom_client_info_required'))
);
$readyFilter = array(
    0 => array('box_store' => array( array('eq' => Mage::registry('box_store_imatra')), array('eq' => Mage::registry('box_store_lappeenranta')) )),
//    1 => array('state_physical' => Mage::registry('state_physical_good')),
    2 => array('state_control' => Mage::registry('state_control_normal')),
    3 => array('state_payment' => array( array('eq' => Mage::registry('state_payment_ready_for_payment')), array('eq' => Mage::registry('state_payment_paid')) ))
);
$takenFilter = array(
    0 => array('box_store' => Mage::registry('box_store_na'))
);
$inProcessFilter = array(
//    0 => array('state_payment' => array('neq' => Mage::registry('state_payment_ready_for_payment'))),
//    1 => array('state_payment' => array('neq' => Mage::registry('state_payment_paid')))
//    0 => array('box_store' => array('neq' => Mage::registry('box_store_imatra'))),
//    1 => array('box_store' => array('neq' => Mage::registry('box_store_lappeenranta')))
);

$alreadyProcessed = array();

$pochtaHelper = Mage::helper('pochta');

$filters = $infoRequiredFilter;
$filters[] = array('entity_id' => array('nin' => $alreadyProcessed));
if ($pochtaHelper->getParcelCollectionSize($filters, $customer->getId()) > 0) {
    require_once "dashboard/info-required.phtml";
}

$filters = $readyFilter;
$filters[] = array('entity_id' => array('nin' => $alreadyProcessed));
if ($pochtaHelper->getParcelCollectionSize($filters, $customer->getId()) > 0) {
    require_once "dashboard/ready-parcels.phtml";
}

$filters = $takenFilter;
$filters[] = array('entity_id' => array('nin' => $alreadyProcessed));
if ($pochtaHelper->getParcelCollectionSize($filters, $customer->getId()) > 0) {
    require_once "dashboard/taken-parcels.phtml";
}

$filters = $inProcessFilter;
$filters[] = array('entity_id' => array('nin' => $alreadyProcessed));
if ($pochtaHelper->getParcelCollectionSize($filters, $customer->getId()) > 0) {
    require_once "dashboard/in-process-parcels.phtml";
}

if (count($alreadyProcessed) == 0) {
    require_once "dashboard/please-wait.phtml";
}


require_once "dashboard/attorney.phtml";

?>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('vendor-packages/zeroclipboard/ZeroClipboard.min.js') ?>"></script>

<script type="text/javascript">
    function updateCustomer(field, value, validation_field) {
        $.ajax({
            url: '/pochta/ajax/updateCustomer',
            data: {
                "customerId" : <?php echo $this->getCustomer()->getId() ?>,
                "field" : field,
                "value" : value
            },
            type: 'post',
            success:function(data){
                if (validation_field) {
                    if (data != '') {
                        $(validation_field).text(data);
                        $(validation_field).show();
                    } else {
                        $(validation_field).hide();
                    }
                }
            }
        });
    }
</script>
