<div class="single-form-page">
  <div class="container">
    <div class="b12-row">
      <div class="b12-col-3"></div>
      <div class="b12-col-6">
        <div class="succes-message">
          <img src="<?php echo $this->getSkinUrl('images/illustrations/success-letter.svg') ?>">
          <h3><?php echo $this->__('Готово!') ?></h3>
          <p class="single-form-page__text">
            <?php echo $this->__('Наше письмо придет на вашу<br/>электронную почту.') ?>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>