<?php
$_form = $this;
$_code = $_form->getMethodCode();
$_model = Mage::getModel('braintree_payments/paymentmethod');
$_storedCards = Mage::helper('braintree_payments/createorder')->getCustomerCards();
$_useVault = $_model->useVault();
?>
<script type="text/javascript">
    payment.form = 'co-braintree-form';
</script>
<input id="<?php echo $_code ?>_payment_method" type="hidden" name="payment[method]" value="<?php echo $_code ?>" />
<ul id="payment_form_<?php echo $_code ?>" class="form-list" style="display:none;">
    <?php if ($_storedCards): ?>
        <li id="<?php echo $_code ?>_token_selector">
            <label for="<?php echo $_code ?>_cc_token"><?php echo $this->__('Payment Information') ?></label>
            <div class="input-box">
                <select id="<?php echo $_code ?>_cc_token" name="payment[cc_token]">
                    <?php foreach ($_storedCards as $creditCard): ?>
                        <option value="<?php echo $creditCard->token?>" <?php echo $creditCard->default ? 'selected="selected"' : '' ?>>
                            <?php echo $creditCard->maskedNumber  . ' - ' . $creditCard->cardType ?>
                        </option>
                    <?php endforeach; ?>
                        <option value=''><?php echo $this->__('Add new card') ?></option>
                </select>
            </div>
        </li>
    <?php endif; ?>    
    <li class="hide_if_token_selected">
        <label for="<?php echo $_code ?>_cc_type" ><?php echo $this->__('Credit Card Type') ?><span class="required">*</span></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]" class="required-entry validate-cc-type-select">
                <option value="">--<?php echo $this->__('Please Select')?>--</option>
            <?php $_ccType = $_form->getInfoData('cc_type') ?>
            <?php foreach ($_form->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                <option value="<?php echo $_typeCode ?>"<?php if($_typeCode==$_ccType): ?> selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
            <?php endforeach ?>
            </select>
        </div>
    </li>
    <li class="hide_if_token_selected">
        <label for="<?php echo $_code ?>_cc_number"><?php echo $this->__('Credit Card Number') ?><span class="required">*</span></label>
        <div class="input-box">
            <input type="text" id="<?php echo $_code ?>_cc_number" data-encrypted-name="payment[cc_number]"  title="<?php echo $this->__('Credit Card Number') ?>" class="input-text validate-cc-number validate-cc-type" value="" />
        </div>
    </li>
    <li id="<?php echo $_code ?>_cc_type_exp_div" class="hide_if_token_selected">
        <label for="<?php echo $_code ?>_expiration" ><?php echo $this->__('Expiration Date') ?><span class="required">*</span></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_expiration" name="payment[cc_exp_month]" class="month validate-cc-exp required-entry">
            <?php $_ccExpMonth = $_form->getInfoData('cc_exp_month') ?>
            <?php foreach ($_form->getCcMonths() as $k=>$v): ?>
                <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
            <?php endforeach ?>
            </select>
            <?php $_ccExpYear = $_form->getInfoData('cc_exp_year') ?>
            <select id="<?php echo $_code ?>_expiration_yr" name="payment[cc_exp_year]" class="year required-entry">
            <?php foreach ($_form->getCcYears() as $k=>$v): ?>
                <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
            <?php endforeach ?>
            </select>
        </div>
    </li>
    <?php echo $_form->getChildHtml() ?>
    <?php if($_form->hasVerification()): ?>
        <li id="<?php echo $_code ?>_cc_type_cvv_div" class="hide_if_token_selected">
            <label for="<?php echo $_code ?>_cc_cid" ><?php echo $this->__('Card Verification Number') ?><span class="required">*</span></label>
            <div class="input-box">
                <div class="v-fix">
                    <input type="text" title="<?php echo $this->__('Card Verification Number') ?>" class="input-text cvv required-entry validate-cc-cvn" id="<?php echo $_code ?>_cc_cid" data-encrypted-name="payment[cc_cid]" value="" />
                </div>
                <a href="#" id="braintree-cvv-what-is-this" style="cursor:help; margin-left:5px;"><?php echo $this->__('What is this?') ?></a>
            </div>
        </li>
    <?php endif; ?>
    <?php if($_useVault): ?>
        <li id="<?php echo $_code ?>_store_in_vault_div" style="text-align:left;" class="hide_if_token_selected">
            <input type="checkbox" title="<?php echo $this->__('Save this card for future use') ?>" class="input-checkbox" id="<?php echo $_code ?>_store_in_vault" name="payment[store_in_vault]" value="1" />
            <label for="<?php echo $_code ?>_store_in_vault" style="float:none;"><?php echo $this->__('Save this card for future use') ?></label>
        </li>
    <?php endif; ?>
        
</ul>
<script type="text/javascript">
//<![CDATA[
<?php if ($_storedCards): ?>
    var enableDisableFields = function(disabled) {
        var code = "<?php echo $_code ?>";
        var fields = ["_cc_type", "_cc_number", "_expiration", "_expiration_yr", "_cc_cid", "_store_in_vault"];
        var id;
        for (id = 0; id < fields.length; id++) {
            $(code + fields[id]).disabled = disabled;
        }
    }

    var showHideFields = function () {
        var selectBox = $('<?php echo $_code ?>_cc_token');
        var initToken = selectBox.getValue();

        if (initToken) {
            $('<?php echo $_code ?>_cc_type').value = "";
            $$('.hide_if_token_selected').invoke('hide');
            enableDisableFields("disabled");
        }

        $('<?php echo $_code ?>_cc_token').observe('change', function (e) {
            var selectBox = $(this);
            var token = selectBox.getValue();

            if (token) {
                $('<?php echo $_code ?>_cc_type').value = "";
                $$('.hide_if_token_selected').invoke('hide');
                enableDisableFields("disabled");
            } else {
                $$('.hide_if_token_selected').invoke('show');
                enableDisableFields(false);
            }
        });
    }
<?php endif ?>

var overrideValidation = function () {
    var braintree = Braintree.create('<?php echo $_model->getConfigData('client_side_encryption_key') ?>');

    editForm.validator = new Validation(editForm.formId, {
        onElementValidate : editForm.checkErrors.bind(editForm),
        onFormValidate : function(isValid, theForm) {
            if (isValid) {
                braintree.encryptForm(theForm);
            }
        }
    });
};

// if the editForm isn't available, wait for the page to finish loading
// (this occurs when a user manually refreshes the admin order form page)
if (typeof editForm !== 'undefined') {
    overrideValidation();
    <?php if ($_storedCards): ?>
        showHideFields();
    <?php endif ?>
} else {
    document.observe('dom:loaded', overrideValidation);
    <?php if ($_storedCards): ?>
        document.observe('dom:loaded', showHideFields);
    <?php endif ?>
}
Event.observe(window, 'load', function() {
    <?php if(Mage::helper('braintree_payments')->getKountId()):?>
        var env = BraintreeData.environments.production.withId("<?php echo Mage::helper('braintree_payments')->getKountId();?>");
    <?php else:?>
        var env = BraintreeData.environments.production;
    <?php endif;?>
    BraintreeData.setup("<?php echo Mage::helper('braintree_payments/createorder')->getMerchantId() ?>", 'edit_form', env);
});
$$('.save').each(function(element) {
    Event.observe(element.id, 'click', function(event) {
        event.stop;
        showHideFields();
        order.submit();
    });
});
Validation.creditCartTypes = $H({
    'VI': [new RegExp('^4[0-9]{12}([0-9]{3})?$'), new RegExp('^[0-9]{3}$'), true],
    'MC': [new RegExp('^5[1-5][0-9]{14}$'), new RegExp('^[0-9]{3}$'), true],
    'AE': [new RegExp('^3[47][0-9]{13}$'), new RegExp('^[0-9]{4}$'), true],
    'DI': [new RegExp('^6011[0-9]{12}$'), new RegExp('^[0-9]{3}$'), true],
    'JCB': [new RegExp('^(3[0-9]{15}|(2131|1800)[0-9]{11})$'), new RegExp('^[0-9]{3,4}$'), true],
    'OT': [false, new RegExp('^([0-9]{3}|[0-9]{4})?$'), false]
});
//]]>
</script>
